.mktoForm a {
	color: #0b5fff;
}

.mktoForm a:hover {
	color: #0053f0;
}

.mktoForm input[type='date'],
.mktoForm input[type='email'],
.mktoForm input[type='tel'],
.mktoForm input[type='text'],
.mktoForm input[type='url'],
.mktoForm select,
.mktoForm textarea {
	background: #fff;
	border: 0;
	border-radius: 6px;
	box-shadow: inset 0 0 0 1px #ebeef2;
	font-family: 'Source Sans Pro';
	font-weight: 600;
	height: 45px;
	outline: 0;
	padding: 0.5rem 1rem;
	width: 100%;
}

.mktoForm textarea {
	height: auto;
}

.mktoForm select.mktoField {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #fff;
	/* stylelint-disable-next-line function-url-quotes */
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='9' fill='none'%3E%3Cpath fill='%236D7580' d='M1.06 2.47L6.4 7.81a.9.9 0 0 0 1.28 0l5.34-5.34a.9.9 0 0 0-.64-1.54H1.7a.9.9 0 0 0-.64 1.54z'/%3E%3C/svg%3E");
	background-position: 97% 50%;
	background-repeat: no-repeat;
	background-size: 14px;
}

.mktoForm .g-recaptcha > iframe {
	display: none;
}

.mktoForm .grecaptcha-badge {
	border-radius: 2px;
	bottom: 14px;
	box-shadow: gray 0 0 5px;
	display: block;
	height: 60px;
	overflow: hidden;
	position: fixed;
	right: -186px;
	transition: right 0.3s ease 0s;
	width: 256px;
}

.mktoForm .mktoButtonRow {
	margin-top: 1.5rem;
}

.mktoForm .mktoButton {
	background-color: #0b5fff;
	background-image: none;
	border: 1px solid transparent;
	border-color: transparent;
	border-radius: 4px;
	color: #fff;
	font-family: 'Source Sans Pro';
	font-size: 1rem;
	font-weight: 600;
	line-height: 24px;
	padding: 0.75rem 1rem;
	width: 100%;
}

.mktoForm .mktoButton.bg-action-default {
	background-color: #0b5fff;
}

.mktoForm .mktoButton.bg-white {
	color: #0b5fff;
}

.mktoForm .mktoCaptchaDisclaimer {
	color: #09101d;
	margin-top: 1.25rem;
}

.mktoForm .mktoCheckboxList,
.mktoForm .mktoRadioList {
	margin-top: 0.5rem;
}

.mktoForm .mktoCheckboxList input,
.mktoForm .mktoRadioList input {
	border-radius: 2px;
	cursor: pointer;
	float: left;
	height: 1rem;
	margin-right: 8px;
	margin-top: 5px;
}

.mktoForm .mktoCheckboxList label,
.mktoForm .mktoRadioList label {
	color: #394452;
	display: block;
	font-size: 1rem;
	font-weight: 600;
	line-height: 24px;
	padding: 0.125rem 0;
}

.mktoForm .mktoClear,
.mktoForm .mktoOffset {
	display: none;
}

.mktoForm .mktoLabel {
	background: linear-gradient(180deg, transparent 50%, #fff 50%);
	color: #858c94;
	display: inline-block;
	font-size: 0.875rem;
	font-weight: 600;
	left: 16px;
	padding: 0 2px;
	position: relative;
	top: 9px;
}

.mktoForm .mktoLabel .mktoAsterix {
	float: right;
}

.mktoForm .mktoError {
	align-items: center;
	-webkit-animation: slidein 0.2s;
	animation: slidein 0.2s;
	background-color: #feefef;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	box-sizing: border-box;
	color: #da1414;
	display: flex;
	padding: 0.5rem 1rem;
	width: 100%;
}

.mktoForm .mktoFieldWrap.focused .mktoField,
.mktoForm .mktoFieldWrap.focused.error .mktoField {
	border: 2px solid #004ad7;
}

.mktoForm .mktoFieldWrap.focused .mktoLabel,
.mktoForm .mktoFieldWrap.focused.error .mktoLabel {
	color: #004ad7;
}

.mktoForm .mktoFieldWrap.error .mktoField {
	border: 2px solid #da1414;
}

.mktoForm .mktoFieldWrap.error .mktoLabel {
	color: #da1414;
}

.mktoForm .mktoFieldWrap.checkbox-field,
.mktoForm .mktoFieldWrap.radio-field {
	padding-top: 1rem;
}

.mktoForm .mktoFieldWrap.checkbox-field .mktoLabel,
.mktoForm .mktoFieldWrap.radio-field .mktoLabel {
	background: transparent;
	color: #394452;
	font-size: 1rem;
	line-height: 24px;
	padding: 0;
	position: static;
}

.mktoForm .mktoFieldWrap.checkbox-field.single-checkbox {
	display: flex;
	flex-direction: row-reverse;
	justify-content: start;
}

.mktoForm .mktoFieldWrap.checkbox-field.single-checkbox .mktoCheckboxList {
	padding-bottom: 0.5rem;
}

.mktoForm .mktoFormCol {
	width: 100%;
}

.mktoForm .mktoFormRow {
	display: flex;
	gap: 1rem;
}

.mktoForm.marketo-dark .mktoFieldWrap.focused .mktoField,
.mktoForm.marketo-dark .mktoFieldWrap.focused.error .mktoField {
	border-color: #fff;
}

.mktoForm.marketo-dark .mktoFieldWrap.focused .mktoLabel,
.mktoForm.marketo-dark .mktoFieldWrap.focused.error .mktoLabel {
	color: #fff;
}

.mktoForm.marketo-dark .mktoFieldWrap.filled input[type='date'],
.mktoForm.marketo-dark .mktoFieldWrap.filled input[type='email'],
.mktoForm.marketo-dark .mktoFieldWrap.filled input[type='tel'],
.mktoForm.marketo-dark .mktoFieldWrap.filled input[type='text'],
.mktoForm.marketo-dark .mktoFieldWrap.filled input[type='url'],
.mktoForm.marketo-dark .mktoFieldWrap.filled select,
.mktoForm.marketo-dark .mktoFieldWrap.filled textarea {
	border: 1px solid rgba(255, 255, 255, 0.6);
}

.mktoForm.marketo-dark .mktoLabel {
	background: linear-gradient(180deg, transparent 50%, #3f547a 50%);
	color: #fff;
}

.mktoForm.marketo-dark select.mktoField {
	background-color: #3f547a;
}

.mktoForm.marketo-dark input[type='date'],
.mktoForm.marketo-dark input[type='email'],
.mktoForm.marketo-dark input[type='tel'],
.mktoForm.marketo-dark input[type='text'],
.mktoForm.marketo-dark input[type='url'],
.mktoForm.marketo-dark select,
.mktoForm.marketo-dark textarea {
	background: #3f547a;
	box-shadow: inset 0 0 0 1px transparent;
	color: rgba(255, 255, 255, 0.8);
}

[id^='fragment'] .mktoForm .mktoLabel {
	top: 14px;
}
