<div class="hero-container">
	<div class="align-items-center d-flex text-align-center justify-content-center hero-container__description flex-column w-100">
		<h1 aria-label="Main title" class="hero-container__title" data-lfr-editable-id="title-hero" data-lfr-editable-type="rich-text">
			An all-in-one portal to serve your customers
		</h1>

		<p aria-label="Description" class="hero-container__text" data-lfr-editable-id="hero-description" data-lfr-editable-type="rich-text">
			Ensure customer satisfaction across the lifecycle of your product sales
		</p>
	</div>

	<div class="d-flex justify-content-center mt-3">
		<img alt="Customer Dashboard" aria-label="Customer Dashboard" class="hero-container__image position-absolute" data-lfr-editable-id="image-editable-hero-bg" data-lfr-editable-type="image" src="[resources:bg_hero.svg]" />

		<img alt="Customer Dashboard" aria-label="Customer Dashboard" class="hero-container__image-hero position-relative" data-lfr-editable-id="image-editable-hero-image" data-lfr-editable-type="image" src="[resources:customer_dashboard.svg]" />
	</div>
</div>