.hero-container__title {
	font-size: 2.83rem;
}

.hero-container__text {
	color: #54555f;
}

.hero-container__image {
	height: 217px;
	width: 100%;
}

.hero-container__image-hero {
	margin-top: 23px;
	width: 312px;
}

@media only screen and (min-width: 798px) {
	.hero-container__image {
		border-radius: 10px;
		height: 436px;
		width: 766px;
	}

	.hero-container__image-hero {
		margin-top: 43px;
		width: 620px;
	}
}

@media only screen and (min-width: 1090px) {
	.hero-container__image {
		height: 727px;
		width: 1280px;
	}

	.hero-container__image-hero {
		margin-top: 63px;
		width: 935px;
	}
}
