.checkbox-container {
	-ms-user-select: none;
	-webkit-user-select: none;
	border: 1px solid #e2e2e4;
	cursor: pointer;
	user-select: none;

	&:hover {
		background-color: #e6edfb;
		border: 1px solid #004ad7;
	}

	&-checked {
		background-color: #e6edfb;
		border: 1px solid #004ad7;
	}

	&-description {
		color: #54555f;
		font-size: 0.81rem;
	}

	&-disabled {
		opacity: 0.5;
	}
}
