@import 'atlas-variables';

.so-portlet-invite-members {
	.search {
		border: 1px solid;
		border-color: #bfbfbf #dedede #dedede #bfbfbf;
		height: 300px;
		margin-bottom: 1em;
		overflow-x: hidden;
		overflow-y: auto;
	}
}
