<div class="border-bottom py-2" id="commerce-header-main">
	<div class="align-items-center container-fluid container-fluid-max-xl d-flex justify-content-between">
		<div id="commerce-header-logo">
			<img alt="" data-lfr-editable-id="commerce-site-footer-logo" data-lfr-editable-type="image" src="[resources:site_logo.svg]" />
		</div>

		<div id="commerce-header-search">
			[@liferay_commerce_ui["search-bar"] /]
		</div>

		<div class="align-items-center justify-content-end row" id="commerce-header-components">
			[@liferay_commerce_ui["account-selector"] cssClasses="col-auto mr-6" /]

			[@liferay_commerce_ui["mini-cart"] cssClasses="col-auto position-absolute sticky-top" /]
		</div>
	</div>
</div>