Dear [$TO_NAME$],<br /><br />

There was an attempt to access [$PORTAL_URL$] with the same time-based one-time Password used in the last authenticated session.

The request was made from [$REMOTE_ADDRESS$] / [$REMOTE_HOST$].<br /><br />

Sincerely,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />
[$PORTAL_URL$]