@import 'atlas-variables';

#createAPIApplicationModal {
	textarea.form-control {
		min-height: 136px !important;
	}

	#modalURLField {
		margin-bottom: 3px !important;
	}

	#hostTextPreview {
		color: $secondary;
		margin-bottom: 7px !important;
	}
}

#portlet_com_liferay_headless_builder_web_internal_portlet_HeadlessBuilderPortlet {
	.endpoint-table-list-title > button.btn-link {
		color: $gray-900 !important;
		font-weight: 400;
	}

	.endpoint-table-list-title > a:hover {
		text-decoration: underline !important;
	}

	.card-type-asset {
		.card-body {
			padding: 0;

			.application-fields-card-body {
				padding-bottom: 2px;
				padding-left: 24px;
				padding-right: 24px;
				padding-top: 24px;
			}

			.endpoints-fields-card-body,
			.schema-fields-card-body {
				padding-bottom: 1px;
				padding-left: 24px;
				padding-right: 24px;
				padding-top: 24px;
			}

			.schema-properties-card-body {
				max-height: calc(100vh - 343px);
				padding-bottom: 24px;
				padding-left: 24px;
				padding-right: 24px;
				padding-top: 16px;
			}

			textarea.form-control {
				min-height: 136px !important;
			}

			#modalURLField {
				margin-bottom: 3px !important;
			}

			#hostTextPreview {
				color: $secondary;
				margin-bottom: 7px !important;
			}
		}
	}

	.tab-content {
		.tab-pane {
			padding: 0 !important;
		}
	}

	.form-feedback-group {
		span.text-3 {
			color: $secondary;
		}
	}

	.management-bar {
		h2.toolbar-title {
			font-size: 1.1875rem;
		}
	}

	.api-app-details {
		max-width: 1000px;
	}
}

#deleteAPIApplicationModal {
	p {
		strong#titleConfirmationElement {
			white-space: pre !important;
		}
	}
}

#createAPIEndpointModal {
	#hostTextPreview {
		color: $secondary;
		margin-bottom: 7px !important;
	}
}

#createAPISchemaModal {
	@media screen and (min-height: 1000px) {
		.dropdown-menu-select {
			max-height: 400px !important;
		}
	}

	@media screen and (max-height: 999px) {
		.dropdown-menu-select {
			max-height: 200px !important;
		}
	}
}

.select-field-icon {
	bottom: 0;
	color: $secondary !important;
	margin: auto !important;
	pointer-events: none;
	position: absolute;
	right: 1rem;
	top: 0;
}

.api-builder-navigation-breadcrumb {
	.breadcrumb-item {
		cursor: pointer;
	}
}

#selectTriggerContainer {
	button {
		background-color: $gray-200 !important;
		border-color: $gray-300 !important;
		color: $gray-900 !important;
		font-weight: normal !important;
		text-align: start !important;
		width: 100% !important;
	}

	button[disabled] {
		border-color: $gray-200 !important;
		color: $gray-500 !important;
		opacity: 1 !important;
	}

	.display-placeholder {
		color: $gray-600 !important;
	}
}

.has-error {
	#selectTriggerContainer {
		button {
			background-color: $danger-l2 !important;
			border-color: $danger-l1 !important;
		}
	}
}

.disabled {
	label {
		color: $gray-500 !important;
	}
}

.main-container {
	height: calc(100vh - 169px);

	.edit-schema {
		display: flex;
		flex-direction: row;
		height: 100%;
		overflow: auto;

		.edit-schema-child {
			margin-left: calc((100vw - 1248px) / 2);

			.search-container {
				.container-fluid.container-fluid-max-xl {
					padding: 0;

					.navbar-form.navbar-form-autofit.navbar-overlay.navbar-overlay-sm-down {
						padding: 0;
					}
				}
			}

			.treeview-container {
				flex-direction: column;
				margin-top: 12px;
				max-height: calc(100vh - 461px);
				max-width: calc(100vw - 416px);
				overflow-y: auto;

				ul.treeview {
					gap: 5px;
				}

				.treeview-item {
					.quick-action-item {
						color: $gray-600;
					}

					.treeview-link {
						padding-left: 16px !important;

						span.treeview-item-label {
							margin-left: 5px;
						}

						.treeview-item-path {
							color: $gray-600;
							display: none !important;
						}

						&:hover {
							span.treeview-item-path {
								display: inline-block !important;
							}

							span.treeview-item-label {
								display: inline-block !important;
								text-decoration: underline;
							}
						}
					}
				}
			}
		}

		.first-property-drop-area {
			background-color: #f7f8f9;
			border: 2px dashed #a7a9bc;
			border-radius: 4px;
			color: #a7a9bc;
			height: 85px;
			line-height: 32px;
			text-align: center;
			width: 100%;

			p {
				margin: 0;
				padding: 24px 0;
			}
		}

		.sidebar {
			background: #fff;
			border-left: 1px solid #e7e7ed;
			display: flex;
			flex-direction: column;
			margin-left: 24px;
			min-width: 320px;
			width: 320px;

			.sidebar-body {
				border-top: 1px solid rgba(0, 0, 0, 0.125);
				flex-grow: 1;
				padding-top: 24px !important;

				ul {
					display: block;
					list-style: none;
					margin-block-end: 0;
					margin-block-start: 0;
					margin-inline-end: 0;
					margin-inline-start: 0;
					padding-inline-start: 0;
				}

				.object-definitions-panel {
					margin-top: 24px;
				}

				.panels-container {
					div:first-of-type {
						margin-top: 0;
					}

					.panel-body {
						.view-related-objects {
							margin-top: 10px;
							width: 100%;
						}
					}
				}

				.property-container {
					align-items: center;
					border: 2px solid transparent;
					border-radius: 4px;
					display: flex;
					height: 48px;
					margin-bottom: 4px;
					padding: 12px 16px;
					width: 100%;

					&:hover {
						border: 2px solid $primary-l1;

						.icon-container {
							&.plus-icon {
								display: flex;
							}
						}
					}

					.icon-container {
						align-items: flex-start;
						background: $gray-100;
						border-radius: 4px;
						display: flex;
						margin-right: 8px;
						padding: 8px;
						padding-top: 11px;

						&.focused-parent {
							display: flex !important;
						}

						&.plus-icon {
							border: 2px solid transparent;
							display: none;
							height: 32px !important;
							margin-right: 0;
							padding-top: 9px;
							width: 32px !important;

							svg {
								fill: $dark;
							}
						}

						&.disabled {
							svg {
								fill: $gray-400;
							}
						}

						svg {
							fill: $gray-600;
						}
					}

					.label-container {
						flex-grow: 1;
						height: 48px;
						line-height: 48px;

						&.disabled {
							color: $gray-500;
						}
					}
				}
			}

			.sidebar-footer {
				button {
					width: 100%;
				}

				padding-bottom: 2rem !important;
				padding-top: 2rem !important;
			}

			.sidebar-header {
				padding-bottom: 24px !important;
				padding-left: 1rem !important;
				padding-right: 1rem !important;
				padding-top: 24px !important;

				.card-divider {
					margin-bottom: 24px !important;
					margin-left: -1rem !important;
					margin-right: -1rem !important;
					margin-top: 24px !important;
				}

				.sidebar-header-title {
					font-size: 16px;
					font-weight: 600;
				}

				&.no-padding-bottom {
					padding-bottom: 0 !important;
				}

				.related-objects-results-bar-container {
					.subnav-tbar.subnav-tbar-primary.tbar.tbar-inline-xs-down {
						margin: 0 -1rem !important;
						padding: 0 !important;

						.container-fluid.container-fluid-max-xl {
							padding-left: 0;
							padding-right: 0;

							.results-angle-left {
								justify-content: space-around;

								svg {
									fill: $dark;
								}
							}

							.results-close-button {
								justify-content: space-around;
								padding-left: 0;

								svg {
									fill: $dark;
								}
							}

							.results-info {
								justify-content: end;
								padding-right: 0;
								width: 226px;
							}

							.sidebar-results-text {
								-webkit-box-orient: vertical;
								-webkit-line-clamp: 2;
								display: -webkit-box;
								margin-bottom: 8px;
								margin-top: 8px;
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: initial;
							}

							.tbar-nav.tbar-nav-wrap {
								flex-wrap: nowrap !important;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1248px) {
	.edit-schema {
		.edit-schema-child {
			margin-left: 0 !important;
		}
	}
}
