#available-funds {
	font-weight: normal;
	margin-bottom: 0px;
	margin-left: 5px;
}

#available-hours {
	font-weight: normal;
	margin-left: 5px;
}

.funds-row {
	font-weight: bold;
	margin-bottom: 0px;
}

.hours-row {
	font-weight: bold;
}

#user-id-container {
	display: none;
}
