[#assign layoutURL = (themeDisplay.getPortalURL() +
themeDisplay.getURLCurrent())! /] [#assign objectRequest =
(request.getAttribute("INFO_ITEM_REFERENCE"))! /] [#assign requestId =
objectRequest.classPK! /] [#assign URL = (layoutURL?substring(0,
layoutURL?lastIndexOf('/')))! /]
<div id="user-id-container">${themeDisplay.getUser().userId}</div>
<p class="funds-row">Available Funds: <span id="available-funds"></span></p>
<p class="hours-row">
	Available Service Hours: <span id="available-hours"></span>
</p>