.nav-segment {
	background-color: var(--color-neutral-1, #f7f7f8);
	border: none;
	border-radius: 0.4rem;
	height: 3rem;

	.nav-link {
		border-radius: 0.25rem;
		color: var(--color-neutral-10, #282934);
		font-family: var(--font-family-sans-serif);
		height: 2.5rem;
		opacity: 0.8;
		padding-bottom: 0;
		padding-top: 0;

		&.active {
			background-color: var(--color-action-primary-active-20, #e6edfb);
			box-shadow: none;
			color: var(--color-neutral-10, #282934);
			opacity: 1;
		}
	}
}

.page-tabs {
	.d-md-none {
		display: none;
	}

	.nav-segment,
	.navbar-collapse {
		display: flex;
		justify-content: center;
	}

	.navbar-collapse-absolute.navbar-expand-md .navbar-collapse {
		position: relative;
		z-index: 1;
	}
}
