@import 'atlas-variables';

.lfr-objects__object-field-form-base {
	&-container {
		display: flex;
		gap: 0.5rem;
	}

	&-form-group-toggles {
		display: contents;

		.modal & {
			display: grid;
			gap: 1.56rem;
			margin-bottom: 1.5rem;
		}
	}

	&-object-field-type-option {
		display: flex;
		flex-direction: column;
	}

	&-picklist {
		&-add-field {
			align-items: center;
			display: flex;
			justify-content: space-between;

			.lfr-objects__object-field-form-base-picklist-container {
				align-items: center;
				display: flex;
				width: 100%;
			}
		}

		&-edit-field {
			align-items: end;
			display: flex;
			justify-content: space-between;

			.lfr-objects__object-field-form-base-picklist-container {
				align-items: end;
				display: flex;
				width: 100%;
			}
		}

		&-edit-field-model-builder {
			.lfr-objects__object-field-form-base-picklist-container {
				align-items: center;
				display: flex;
				width: 100%;
			}

			.lfr-objects__object-field-form-base-picklist-manage-button {
				margin-bottom: 1.5rem;
			}
		}

		&-manage-button {
			margin-top: 5px;
			max-height: 40px;
			min-width: 210px;

			> span {
				margin-right: 5px;
			}
		}

		&-reload-button {
			margin: 5px 10px 0;
			min-width: 40px;
		}

		&-select-field {
			width: 100%;
		}
	}
}
