<li class="control-menu-nav-item">
	<button aria-label="${title}" aria-pressed="false" class="btn-monospaced btn-sm control-menu-nav-link lfr-portal-tooltip toggle-controls" data-qa-id="showControls" data-title="${title}">
		${iconTag}
	</button>
</li>