<form id="mktoForm_${configuration.formId}"></form>

<script src="${configuration.podId}/js/forms2/js/forms2.min.js"></script>

<script type="text/javascript">
	(function () {
		var didInit = false;
		function initMunchkin() {
			if (didInit === false) {
				didInit = true;
				Munchkin.init('${configuration.munchkinId}');
			}
		}
		var script = document.createElement('script');
		script.type = 'text/javascript';
		script.async = true;
		script.src = '//munchkin.marketo.net/munchkin.js';
		script.onreadystatechange = function () {
			if (this.readyState == 'complete' || this.readyState == 'loaded') {
				initMunchkin();
			}
		};
		script.onload = initMunchkin;
		document.getElementsByTagName('head')[0].appendChild(s);
	})();
</script>