[#setting locale=themeDisplay.getLanguageId() /]
[#setting date_format="yyyy-MM-dd" /]

[#assign claim_status_style = { "claimed": "ml-3 label label-tonal-info ml-2", "unclaimed": "ml-3 label label-tonal-warning ml-2" } /]
[#assign activity_status_style = { "active": "label label-tonal-info ml-2", "completed": "label label-tonal-success ml-2", "expired": "label label-tonal-danger ml-2", "moreInfoRequested": "label label-tonal-warning ml-2", "rejected": "label label-tonal-danger ml-2", "submitted": "label label-tonal-warning ml-2" } /]

[#assign mdf_request_id = (request.getAttribute("INFO_ITEM").objectEntryId)! /]

[#function days_difference_from_now date]
	[#return (date?long + (45 * 1000 * 60 * 60 * 24) - (.now?long)) / (1000 * 60 * 60 * 24) /]
[/#function]

[#function get_event_fields activity]
	[#assign event_fields = [{ "title": "Activity Description", "value": (activity.description)!"-"}] /]

	[#if (activity.tactic.name)! != "Webinar"]
		[#assign event_fields = event_fields + [{ "title": "Activity Location", "value": (activity.location)!"-" }, { "title": "Venue Name", "value": (activity.venueName)!"-" }] /]
	[/#if]
	[#if (activity.tactic.name)! = "Webinar"]
		[#assign event_fields = event_fields + [{ "title": "Webinar Topic", "value": (activity.webinarTopic)!"-" }, { "title": "Webinar Host/Platform", "value": (activity.webinarHostPlatform)!"-" }] /]
	[/#if]

	[#assign event_fields = event_fields + [{ "title": "Liferay Branding", "value": (activity.liferayBranding)!"-" }, { "title": "Liferay Participation / Requirements", "value": (activity.liferayParticipationRequirements)!"-" }, { "title": "Source and Size of Invitee List", "value": (activity.sourceAndSizeOfInviteeList)!"-" }, { "title": "Activity Promotion", "value": (activity.activityPromotion)!"-" }] /]

	[#return event_fields /]
[/#function]

[#function get_digital_marketing_fields activity]
	[#assign digital_marketing_fields = [{ "title": "Overall message, content or CTA", "value": (activity.overallMessageContentCTA)!"-"}] + [ {"title": "How will the Liferay brand be used in the campaign?", "value": (activity.howLiferayBrandUsed)!}] /]

	[#if (activity.tactic.name)! != "Email Campaign"]
		[#assign digital_marketing_fields = digital_marketing_fields + [ { "title": "Specific sites to be used", "value": (activity.specificSites)!"-" }, { "title": "Keywords for PPC campaigns", "value": (activity.keywordsForPPCCampaigns)!"-" }, { "title": "Ad (any size/type)", "value": (activity.ad)!"-" }] /]
	[#elseif (activity.tactic.name)! = "Email Campaign"]
		[#assign digital_marketing_fields = digital_marketing_fields + [{"title": "Landing page copy", "value": (activity.landingPageCopy)!"-" }] /]
	[/#if]

	[#if (activity.nurtureDripCampaign?has_content)!false ]
		[#assign digital_marketing_fields = digital_marketing_fields + [{"title": "Nurture or drip campaign?", "value": (activity.nurtureDripCampaign?boolean?string("Yes", "No"))!"-"}] /]
	[/#if]

	[#if (activity.manySeries?has_content)!false ]
		[#assign digital_marketing_fields = digital_marketing_fields + [{"title": "How many in series", "value": (activity.manySeries)!}] /]
	[/#if]

	[#if (activity.assetsLiferayRequired?has_content)!false ]
		[#assign digital_marketing_fields = digital_marketing_fields + [{"title": "Do you require any assets from Liferay?", "value": (activity.assetsLiferayRequired?string("Yes", "No"))!"-"}] /]
	[/#if]

	[#if (activity.assetsLiferayRequired)!false == true]
		[#assign digital_marketing_fields = digital_marketing_fields + [{"title": "Please describe including specifications and due dates", "value": (activity.assetsLiferayDescription)!}] /]
	[/#if]

	[#if (activity.usingCIABAssets?has_content)!false ]
		[#assign digital_marketing_fields = digital_marketing_fields + [{"title": "Are you using any CIAB assets?", "value": (activity.usingCIABAssets?boolean?string("Yes", "No"))!}] /]
	[/#if]

	[#return digital_marketing_fields /]
[/#function]

[#function get_content_marketing_fields activity]
	[#return [{ "title": "Will this content be gated and have a landing page?", "value": (activity.gatedLandingPage?string("Yes", "No"))!"-"}, { "title": "Primary theme or message of your content", "value": (activity.primaryThemeOrMessage)!"-" }, { "title": "Goal of Content", "value": (activity.goalOfContent)!"-" }, { "title": "Are you hiring an outside writer or agency to prepare the content?", "value": (activity.hiringOutsideWriterOrAgency?string("Yes", "No"))!"-" }] /]
[/#function]

[#function get_miscellaneous_marketing_fields activity]
	[#assign miscellaneous_marketing_fields = [{ "title": "Marketing activity", "value": (activity.marketingActivity)!"-"}] /]

	[#if (activity.tactic.name)! = "Broadcast Advertising"]
		[#assign miscellaneous_marketing_fields = miscellaneous_marketing_fields + [ { "title": "Broadcast channel", "value": (activity.broadcastChannel)!"-" }, { "title": "CTA", "value": (activity.cta)!"-" }, { "title": "# of weeks/airing", "value": (activity.weeksAiring)!"-" }, { "title": "Guaranteed Impressions", "value": (activity.guaranteedImpressions!"-")}] /]
	[#elseif (activity.tactic.name)! = "Campaign with Industry Publication"]
		[#assign miscellaneous_marketing_fields = miscellaneous_marketing_fields + [ { "title": "Publication", "value": (activity.publication)!"-" }, { "title": "CTA", "value": (activity.cta)!"-" }, { "title": "Expected Impressions", "value": (activity.expectedImpressions)!"-" } ] /]
	[#elseif (activity.tactic.name)! = "Co-branded Merchandise"]
		[#assign miscellaneous_marketing_fields = miscellaneous_marketing_fields + [{ "title": "What type of merchandise?", "value": (activity.typeMerchandise)!"-" },{ "title": "Quantity", "value": (activity.quantity)!"-" }] /]
	[#elseif (activity.tactic.name)! = "Direct Mail"]
		[#assign miscellaneous_marketing_fields = miscellaneous_marketing_fields + [{ "title": "Target # of sends", "value": (activity.targetOfSends)!"-" },{ "title": "CTA", "value": (activity.cta)!"-" }] /]
	[#elseif (activity.tactic.name)! = "Print Advertising"]
		[#assign miscellaneous_marketing_fields = miscellaneous_marketing_fields + [ { "title": "Publication", "value": (activity.publication)!"-" }, { "title": "CTA", "value": (activity.cta)!"-" }, { "title": "Expected Impressions", "value": (activity.expectedImpressions)!"-" } ] /]
	[#elseif (activity.tactic.name)! = "Outbound Telemarketing Sales"]
		[#assign miscellaneous_marketing_fields = miscellaneous_marketing_fields + [ { "title": "Audience Target", "value": (activity.audienceTarget)!"-" }, { "title": "Source and Size of call List", "value": (activity.sourceAndSizeOfCallList)!"-" }, { "title": "Resources necessary from Liferay", "value": (activity.resourcesNecessaryFromLiferay)!"-" } ] /]
	[/#if]

	[#return miscellaneous_marketing_fields /]
[/#function]

[#function get_fields_by_activity activity]
	[#assign fields = { "prmtact001": get_event_fields(activity), "prmtact002": get_digital_marketing_fields(activity), "prmtact003": get_content_marketing_fields(activity), "prmtact004": get_miscellaneous_marketing_fields(activity) }]

	[#return activity.typeActivity?has_content?then(fields[activity.typeActivity.key], [{ "title": "-", "value": "-"}]) /]
[/#function]

[#function get_activity_fields activity]
	[#return [{ "title": "Activity name", "value": (activity.name)!"-" }, { "title": "Type of Activity", "value": (activity.typeActivity.name)!"-" }, { "title": "Tactic", "value": (activity.tactic.name)!"-" }] + get_fields_by_activity(activity) + [{ "title": "Start Date", "value": (activity.startDate?date?string.short)!"-" }, { "title": "End Date", "value": (activity.endDate?date?string.short)!"-" }] /]
[/#function]

[#macro table title items]
	<div class="table-responsive">
		<table class="bg-brand-primary-lighten-6 border-0 show-quick-actions-on-hover table table-autofit table-hover table-list table-striped">
			<thead>
				<tr>
					<th class="border-neutral-2 border-top rounded-0 table-cell-expand w-50">
						<p class="mt-4 text-neutral-10">${title}</p>
					</th>
					<td class="border-neutral-2 border-top rounded-0 w-50"></td>
				</tr>
			</thead>

			<tbody>
				[#list items as item]
					<tr>
						<td class="border-0 w-50">
							<p class="text-neutral-10">
								${(item.title)!}
							</p>
						</td>
						<td class="border-0 text-neutral-10 w-50">
							<p class="text-neutral-10">
								${(item.value)!}
							</p>
						</td>
					</tr>
				[/#list]
			</tbody>
		</table>
	</div>
[/#macro]

[#macro leads_table activity]
	[#assign items = [{"title": "Is a lead list an outcome of this activity?", "value": (activity.leadGenerated?string("Yes", "No"))! }, { "title": "Target # of Leads", "value": (activity.targetOfLeads)!"-" }, { "title": "Lead Follow Up strategy", "value": (activity.leadFollowUpStrategies)!"-" }, { "title": "Details on Lead Follow Up", "value": (activity.detailsLeadFollowUp)!"-" }] /]

	[@table title="Lead List" items=items /]
[/#macro]

[#macro campaign_table activity]
	[@table title="Campaign Activity" items=get_activity_fields(activity) /]
[/#macro]

[#macro budgets_table budgets currency_key="USD"]
[#assign items = (budgets?map(budget -> {"title": (budget.expense.name)!"-", "value": (budget.cost?number?string["¤,##0.00;; currencyCode=${currency_key}"])!}))! /]

	[@table title="Budget Breakdown" items=items /]
[/#macro]

[#macro range_date end_date start_date]
	<div class="mb-1 text-neutral-7 text-paragraph-sm">
		${start_date?date?string("MMM dd")} - ${end_date?date?string.medium}
	</div>
[/#macro]

[#macro claim_status activity_claims]
	[#assign claim_status_content = activity_claims?filter(activity_claim -> activity_claim.r_mdfClmToMDFClmActs_c_mdfClaim.mdfClaimStatus.key != "draft" && activity_claim.selected)?has_content?string("claimed", "unclaimed") /]

	<div class="align-items-center d-sm-flex mb-1 text-neutral-7 text-weight-semi-bold">
		Claim Status: <span class="${claim_status_style[claim_status_content]}">${claim_status_content?capitalize}</span>
	</div>
[/#macro]

[#macro request_status activity_status end_date is_claimed]
	<div class="align-items-center d-sm-flex mb-1 text-neutral-7 text-weight-semi-bold">
		<p class="mb-0">
			Activity Status:
			<span class="${activity_status_style[activity_status.key]}">
				${(activity_status.name)!}
			</span>
			[#if end_date?has_content && activity_status.key == 'active' && !is_claimed]
				[#assign request_date = days_difference_from_now(end_date) /]

				<span class="font-weight-light ml-sm-2">
					[#assign days_left = (request_date > 0)?then(request_date?ceiling, 0) /]

					[#if days_left > 0 ]
						${(request_date > 0)?then(request_date?ceiling, 0)} ${(days_left > 1)?then('days left to claim', 'day left to claim')}
					[#else]
						Last day to claim
					[/#if]
				</span>
			[/#if]
			[#if activity_status.key == 'expired']
				<span class="font-weight-light ml-sm-2">
					This activity can no longer be claimed
				</span>
			[/#if]
		</p>
	</div>
[/#macro]

[#if mdf_request_id?has_content ]
	[#assign activities = (restClient.get("/c/mdfrequests/${mdf_request_id}/mdfReqToActs?nestedFields=actToBgts,actToMDFClmActs,r_mdfClmToMDFClmActs_c_mdfClaimId&nestedFieldsDepth=3").items)! /]

	[#assign mdf_status = (restClient.get("/c/mdfrequests/${mdf_request_id}").mdfRequestStatus.key)! /]
		[#list activities as activity]
			<div class="border-brand-primary-lighten-4 form-check-card panel" role="tablist">
				<button aria-controls="mdfRequestActivitiesPanel-${activity.id}" aria-expanded="false" class="btn btn-unstyled card card-interactive card-type-template collapse-icon collapse-icon-top collapsed panel-header panel-header-link" data-target="#mdfRequestActivitiesPanel-${activity.id}" data-toggle="liferay-collapse" role="tab">
					<div class="py-2 text-dark">
						[#if activity.endDate?has_content && activity.startDate?has_content]
							[@range_date end_date=activity.endDate start_date=activity.startDate /]
						[/#if]

						<h4 class="mb-1">${activity.name} (${activity.id})</h4>
						[#if mdf_status != "draft"]
							[@claim_status activity_claims=(activity.actToMDFClmActs)! /]

							[@request_status activity_status=(activity.activityStatus)! end_date=(activity.endDate?date)! is_claimed=(activity.actToMDFClmActs?filter(activity_claim -> activity_claim.r_mdfClmToMDFClmActs_c_mdfClaim.mdfClaimStatus.key != "draft" && activity_claim.selected)?has_content)! /]
						[#else]
							[@clay.alert displayType="info" message="Pending MDF Request submission." title="Info" /]
						[/#if]
					</div>

					<span class="collapse-icon-closed mt-2">
						[@clay["icon"] symbol="angle-down"/]
					</span>
					<span class="collapse-icon-open mt-2">
						[@clay["icon"] symbol="angle-up"/]
					</span>
				</button>

				<div class="collapse panel-collapse" id="mdfRequestActivitiesPanel-${activity.id}" role="tabpanel">
					<div class="panel-body">
						[@campaign_table activity=activity /]

						[@budgets_table budgets=(activity.actToBgts)! currency_key=(activity.currency.key)!"USD" /]

						[@leads_table activity=activity /]
					</div>
				</div>
			</div>
		[/#list]
[#else]
	<div class="alert alert-info">
		<p>To use this fragment either place it on a Display Page Template to see which attributes are available from <em>request.getAttribute("INFO_ITEM")</em>.</p>
		<p class="mb-0">It's important to note that this will only display the attributes of a display page when you view the published display page not when you are editing it.</p>
	</div>
[/#if]