[#assign mdfRequestId = (request.getAttribute("INFO_ITEM").objectEntryId)! /]

[#if mdfRequestId?has_content]
	[#assign permissionAction = restClient.get("/c/permissionactions?filter=object%20eq%20%27MDF%20Request%27&pageSize=-1") /]
	[#assign mdfRequest = (restClient.get("/c/mdfrequests/${mdfRequestId}?nestedFields=mdfReqToActs"))! /]

	[#assign hasMarketingReviewAction = (permissionAction.items?filter(permissionAction -> permissionAction.action == "MARKETING-REVIEW-STATUS-UPDATE")?has_content)! /]
	[#assign hasMarketingDirectorReviewAction = (permissionAction.items?filter(permissionAction -> permissionAction.action == "MARKETING-DIRECTOR-REVIEW-STATUS-UPDATE")?has_content)! /]
	[#assign hasRequestMoreInfoAction = permissionAction.items?filter(permissionAction -> permissionAction.action == "REQUEST-MORE-INFO")?has_content /]
	[#assign hasExpireAction = (permissionAction.items?filter(permissionAction -> permissionAction.action == "EXPIRE")?has_content)! /]
	[#assign hasRejectAction = (permissionAction.items?filter(permissionAction -> permissionAction.action == "REJECT")?has_content)! /]
	[#assign hasApproveAction = (permissionAction.items?filter(permissionAction -> permissionAction.action == "APPROVE")?has_content)! /]

	[#assign mdfRequestStatusKey = (mdfRequest.mdfRequestStatus.key)! /]

	[#assign count = 0]

	<script>
		const modalStatusTypes = {
			marketingDirectorReview: "Marketing Director Review",
			moreInfoRequested: "Request More Info",
			rejected: "Rejected",
		}

		const approveActivities = async () => {
			[#list mdfRequest.mdfReqToActs as activity]
				[#if activity.activityStatus.key == 'submitted']
					await fetch('/o/c/activities/${activity.id}', {
						body: `{"activityStatus": "approved"}`,
						headers: {
							'content-type': 'application/json',
							'x-csrf-token': Liferay.authToken,
						},
						method: 'PATCH',
					});
				[/#if]
			[/#list]
		};

		const updateRequestStatus = async (status) => {
			const responde = await fetch(
				`/o/c/mdfrequests/${mdfRequestId}`,
				{
					body: `{"mdfRequestStatus": "` + status +`"}`,
					headers: {
						'content-type': 'application/json',
						'x-csrf-token': Liferay.authToken,
					},
					method: 'PATCH',
				}
			);

			if (responde.ok) {
				if (status === 'approved') {
					await approveActivities();
				}

				location.reload();

				return;
			}

			Liferay.Util.openToast({
				message: 'The MDF Request Status cannot be changed.',
				type: 'danger',
			});
		};

		const callMDFRequestModal = (status) => {
			const listDisplayModal = ["moreInfoRequested", "marketingDirectorReview", "rejected"]

			if(listDisplayModal.includes(status)){
				return Liferay.Util.openModal({
						bodyHTML: `<div class="form-group">
									<label for="descriptionTextArea">Status change motivation:</label>

									<textarea class="form-control" id="descriptionTextArea" placeholder="Describe here..." type="text"></textarea>
								</div>`,
						buttons: [
							{
								displayType: 'secondary',
								label: Liferay.Language.get('Cancel'),
								type: 'cancel',
							},
							{
								displayType: 'primary',
								label: modalStatusTypes[status],
								onClick() {
									const textarea = document.getElementById("descriptionTextArea");

									if(textarea.value){
										const commentParagraph = document.querySelector("iframe").contentWindow.document.querySelector("body.portlet-page-comments p");
										const postCommentButton = document.querySelector("button.btn-comment");

										commentParagraph.innerHTML = Liferay.Util.escape(textarea.value);
										postCommentButton.disabled = false;
										postCommentButton.click();

										return updateRequestStatus(status);
									}

									Liferay.Util.openToast({
										message: 'The MDF Request Status cannot be changed without a motivation.',
										type: 'danger',
									});
								},
								type: 'submit',
							},
						],
						headerHTML: `<h1 class="m-0">Status Change</h1>`,
						size: 'md',
					});
			}

			return updateRequestStatus(status);
		};
	</script>

<button aria-expanded="false" aria-haspopup="true" class="btn btn-secondary d-none dropdown-toggle" data-toggle="liferay-dropdown" id="dropdownMDFRequestStatus" type="button">
	${(mdfRequest.mdfRequestStatus.name)!} [@clay.icon symbol="caret-bottom" /]
</button>

<ul aria-labelledby="dropdownMDFRequestStatus" class="dropdown-menu" x-placement="bottom-start">
		[#if mdfRequestStatusKey == 'pendingMarketingReview']
			[#if hasMarketingDirectorReviewAction]
				[#assign count = count + 1]
				<li class="dropdown-item" onclick="callMDFRequestModal('marketingDirectorReview')">
					Marketing Director Review
				</li>
			[/#if]

			[#if hasRequestMoreInfoAction]
				[#assign count = count + 1]
				<li class="dropdown-item" onclick="callMDFRequestModal('moreInfoRequested')">
					Request More Info
				</li>
			[/#if]

			[#if hasRejectAction]
				[#assign count = count + 1]
				<li class="dropdown-item" onclick="callMDFRequestModal('rejected')">
					Rejected
				</li>
			[/#if]

			[#if hasApproveAction]
				[#assign count = count + 1]
				<li class="dropdown-item" onclick="callMDFRequestModal('approved')">
					Approved
				</li>
			[/#if]
		[/#if]

		[#if mdfRequestStatusKey == 'marketingDirectorReview']
			[#if hasMarketingReviewAction]
				[#assign count = count + 1]
				<li class="dropdown-item" onclick="callMDFRequestModal('pendingMarketingReview')">
					Pending Marketing Review
				</li>
			[/#if]

			[#if hasApproveAction]
				[#assign count = count + 1]
				<li class="dropdown-item" onclick="callMDFRequestModal('approved')">
					Approved
				</li>
			[/#if]

			[#if hasRequestMoreInfoAction]
				[#assign count = count + 1]
				<li class="dropdown-item" onclick="callMDFRequestModal('moreInfoRequested')">
					Request More Info
				</li>
			[/#if]

			[#if hasRejectAction]
				[#assign count = count + 1]
				<li class="dropdown-item" onclick="callMDFRequestModal('rejected')">
					Rejected
				</li>
			[/#if]
		[/#if]

		[#if mdfRequestStatusKey == 'moreInfoRequested']
			[#if hasMarketingDirectorReviewAction]
				[#assign count = count + 1]
				<li class="dropdown-item" onclick="callMDFRequestModal('marketingDirectorReview')">
					Marketing Director Review
				</li>
			[/#if]
		[/#if]

		[#if mdfRequestStatusKey == 'expired']
			[#if hasMarketingDirectorReviewAction]
				[#assign count = count + 1]
				<li class="dropdown-item" onclick="callMDFRequestModal('marketingDirectorReview')">
					Marketing Director Review
				</li>
			[/#if]

			[#if hasRequestMoreInfoAction]
				[#assign count = count + 1]
				<li class="dropdown-item" onclick="callMDFRequestModal('moreInfoRequested')">
					Request More Info
				</li>
			[/#if]
		[/#if]

		[#if mdfRequestStatusKey == 'rejected']
			[#if hasMarketingReviewAction]
				[#assign count = count + 1]
				<li class="dropdown-item" onclick="callMDFRequestModal('pendingMarketingReview')">
					Pending Marketing Review
				</li>
			[/#if]

			[#if hasMarketingDirectorReviewAction]
				[#assign count = count + 1]
				<li class="dropdown-item" onclick="callMDFRequestModal('marketingDirectorReview')">
					Marketing Director Review
				</li>
			[/#if]

			[#if hasRequestMoreInfoAction]
				[#assign count = count + 1]
				<li class="dropdown-item" onclick="callMDFRequestModal('moreInfoRequested')">
					Request More Info
				</li>
			[/#if]
		[/#if]

		[#if mdfRequestStatusKey == 'canceled']
			[#if hasApproveAction]
				[#assign count = count + 1]
				<li class="dropdown-item" onclick="callMDFRequestModal('approved')">
					Approved
				</li>
			[/#if]
		[/#if]
	</ul>

	[#assign hasActions = count > 0]

	[#if hasActions]
		<script>
			document.querySelector('#dropdownMDFRequestStatus').classList.remove("d-none")
		</script>
	[#else]
		Status: ${(mdfRequest.mdfRequestStatus.name)!}
	[/#if]

[#else]
	<div class="alert alert-info">
		<p>To use this fragment either place it on a Display Page Template to see which attributes are available from <em>request.getAttribute("INFO_ITEM")</em>.</p>
		<p class="mb-0">It's important to note that this will only display the attributes of a display page when you view the published display page not when you are editing it.</p>
	</div>
[/#if]