html#{$cadmin-selector} {
	.cadmin {
		.sidebar-sm {
			.sheet-subtitle {
				font-size: 12px;
				margin-bottom: 16px;
			}

			.form-control {
				&[type='file'] {
					padding: 0;
				}
			}

			.article-content-description
				.input-localized.input-localized-editor
				.input-group-item
				.wrapper
				.form-control {
				min-height: auto;
				padding: 4.56px 12px;
			}

			.list-group-item-flex {
				padding: 8px 4px;

				.autofit-col {
					padding-left: 4px;
					padding-right: 4px;
				}
			}
		}
	}
}
