$baseline: 8px;
$horizontal-spacing: 35px;
$transition-time: 0.5s;

$form-header-placeholder-color: #c0ccd3;
$form-header-text-color: #869cad;

$form-management-bar-height: 63px;
$form-navigation-bar-height: 48px;
$form-sidebar-header: 104px;
