@import 'cadmin-variables';

.layout-tree-count-feedback {
	background: $cadmin-primary-l2;
	min-height: 48px;
}

.select-layout-filter {
	border-bottom: 1px solid $cadmin-secondary-l3;
}

html#{$cadmin-selector} .cadmin .treeview .search-result-button {
	font-size: 14px;
}

html#{$cadmin-selector}
	.cadmin
	.treeview
	.search-results-mark-layout-name
	mark {
	background-color: $cadmin-gray-300;
}
