companyId=L"20096"
emailFromAddress="test@liferay.com"
emailFromName="Joe Bloggs"
emailOTPSentBody="$\{resource:com/liferay/multi/factor/authentication/email/otp/configuration/dependencies/email_otp_sent_body.tmpl\}"
emailOTPSentSubject="$\{resource:com/liferay/multi/factor/authentication/email/otp/configuration/dependencies/email_otp_sent_subject.tmpl\}"
enabled=B"false"
failedAttemptsAllowed=I"-1"
otpSize=I"6"
resendEmailTimeout=L"30"
retryTimeout=L"-1"
service.ranking=I"10"