.tr-main {
	display: flex;
	flex-direction: column;

	&__body {
		background-color: $color-gray-lighter;
		display: flex;
		flex: 1;

		&__page {
			height: 100vh;
			overflow: auto;
			padding: 0;
			position: relative;
			width: 100%;

			&__content {
				overflow: auto;
				padding: 25px 30px 30px;
				position: relative;
			}
		}
	}
}
