$opacity-transition: all 0.3s ease;

.tr-task-sidebar {
	color: $color-indigo-light;
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-x: hidden;

	a {
		color: $color-indigo-light;
	}

	li {
		overflow-x: hidden;
	}

	&--hidden {
		ul {
			overflow-y: hidden;
		}
	}

	&__ellipsis-text {
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		display: -webkit-box;
		line-clamp: 2;
		max-width: 25ch;
		overflow: hidden;
		text-align: justify;
		text-overflow: ellipsis;
		white-space: break-spaces;
		word-wrap: break-word;
	}

	&__title {
		background-color: $color-indigo-dark;
		display: flex;
		flex-shrink: 0;
		height: 30px;
		justify-content: space-between;
		opacity: 0;
		position: sticky;
		top: 0;
		transition: $opacity-transition;
		width: 80px;

		&--expanded {
			opacity: 1;
			transition: $opacity-transition;
			width: 250px;
		}

		&__text {
			color: $color-indigo-light;
			padding-left: 20px;
			transition: $opacity-transition;
		}

		.tr-task-sidebar__quantity-badge {
			margin-right: 20px;
			padding: 15px;
		}
	}

	&__notification {
		opacity: 0;
		padding: 0 25px;
		position: relative;
		top: 15px;
		transition: $opacity-transition;

		&--badge {
			align-items: center;
			background: $color-red;
			border-radius: 100%;
			box-shadow: 1px 2px 3px rgba(200, 0, 0, 0.3);
			color: $color-white;
			display: flex;
			font-size: 12px;
			height: 20px;
			justify-content: center;
			position: relative;
			right: -10px;
			top: -30px;
			transition: $opacity-transition;
			user-select: none;
			width: 20px;
		}

		&--hidden {
			opacity: 1;
			transition: $opacity-transition;
		}
	}

	&__subtask-item {
		opacity: 0;
		padding: 0 20px;
		visibility: hidden;

		&__subtask-card {
			align-items: center;
			background-color: $color-indigo;
			display: flex;
			justify-content: space-between;
			margin: 16px 0;
			padding: 10px;
			text-transform: uppercase;
		}

		&--expanded {
			margin-bottom: 2rem;
			opacity: 1;
			visibility: visible;

			&__progress-bar {
				height: 16px;
				margin-bottom: 25px;
				overflow: hidden;
			}
		}
	}

	&__quantity-badge {
		align-items: center;
		background-color: $color-indigo;
		color: $color-white;
		display: inline-flex;
		flex-shrink: 0;
		height: 25px;
		justify-content: center;
		padding: 10px;
		width: 25px;
	}

	.scroller {
		overflow-y: scroll;
		scrollbar-color: $color-indigo-light;
	}

	&::-webkit-scrollbar {
		width: 5px;
	}

	&::-webkit-scrollbar-track {
		border-radius: 5px;
		padding: 1px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $color-indigo-light;
		border: 1px solid $color-indigo-dark;
		border-radius: 20px;
	}
}
