body.has-edit-mode-menu .mini-cart-fragment {
	min-height: 64px;
}

body.has-edit-mode-menu .mini-cart-fragment .mini-cart.is-open .mini-cart-overlay,
body.has-edit-mode-menu .mini-cart-fragment .mini-cart.is-open .mini-cart-wrapper {
	display: none;
}

.mini-cart-fragment {
	position: relative;
}

.mini-cart-fragment .mini-cart.is-open .mini-cart-overlay,
.mini-cart-fragment .mini-cart.is-open .mini-cart-wrapper {
	position: fixed;
}

.mini-cart-fragment .mini-cart:not(.is-open) .mini-cart-overlay,
.mini-cart-fragment .mini-cart:not(.is-open) .mini-cart-wrapper {
	display: none;
}




