[#assign mdf_claim_id = (request.getAttribute("INFO_ITEM").objectEntryId)! /]

[#macro document_card document]
	<div class="panel panel-secondary">
		<div class="panel-header">
			<p class="card-title text-truncate text-truncate-inline">
				Reimbursement Invoice
			</p>

			<div class="card-text mt-2">
				<a class="d-flex text-decoration-none" href="${document.link.href}">
					<span class="mr-2 text-neutral-5">
						[@clay.icon symbol="document-pdf" /]
					</span>

					<h5 class="text-neutral-9">${document.name?keep_before("#")}</h5>
				</a>
			</div>
		</div>
	</div>
[/#macro]
[#if mdf_claim_id?has_content]
	[#assign claim = restClient.get("/c/mdfclaims/${mdf_claim_id}?nestedFields=mdfClmToMDFClmDocs") /]

	[#if (claim.mdfClmToMDFClmDocs?has_content)!false]
		[#list claim.mdfClmToMDFClmDocs as document]
			<a class="align-items-end card-interactive d-flex mb-1 p-3 panel panel-secondary text-decoration-none" href="${document.file.link.href}">
				<span class="mr-2 text-neutral-5">
					[@clay.icon symbol="document-default" /]
				</span>

				<div class="text-neutral-9">
					${document.file.name?keep_before("#")}
				</div>
			</a>
		[/#list]
	[/#if]
[#else]
	<div class="alert alert-info">
		<p>To use this fragment either place it on a Display Page Template to see which attributes are available from <em>request.getAttribute("INFO_ITEM")</em>.</p>
		<p class="mb-0">It's important to note that this will only display the attributes of a display page when you view the published display page not when you are editing it.</p>
	</div>
[/#if]