.attachments-icon-container {
	border: 1px solid var(--color-neutral-2);
	border-radius: 10px;
	padding: 4rem 0;

	.attachments-icon {
		background-color: var(--color-brand-primary-lighten-5);
		border-radius: var(--border-radius);
		width: 144px;

		.lexicon-icon-folder {
			fill: var(--color-brand-primary);
			height: 2rem;
			width: 2rem;
		}
	}

	.c-empty-state-text {
		color: #6b6c7e;
	}
}

.cp-ticket-attachments-table-wrapper {
	.lexicon-icon-ellipsis-v {
		fill: var(--color-neutral-5);
	}

	svg {
		cursor: pointer;
	}

	.table-responsive,
	.table thead th {
		border-bottom: 1px solid var(--color-neutral-2);
	}
}

.dropdown-menu {
	button.dropdown-item {
		padding: 0.75rem;

		&:hover:not(.disabled) {
			.lexicon-icon-download,
			.lexicon-icon-trash {
				opacity: 1;
			}
		}
	}

	.lexicon-icon-download,
	.lexicon-icon-trash {
		height: 1rem;
		margin-right: 0.5rem;
		opacity: 0.5;
		width: 1rem;
	}

	ul.list-unstyled {
		margin-bottom: 0;
		padding: 0.5rem;
	}
}

.modal-body,
.modal-footer,
.modal-header {
	border: 0;
}
