.dropdown .dropdown-content {
	bottom: 20px;
	box-shadow: 0 1px 5px -1px rgb(0 0 0 / 30%);
	display: none;
	left: 50px;
	min-width: 240px;
	position: absolute;
}

.dropdown .dropdown-content a {
	color: #6b6c7e;
	display: block;
	font-weight: 500;
	text-decoration: none;
}

.dropdown .dropdown-content a:hover {
	background-color: lightgray;
}

.dropdown.show .dropdown-content {
	display: block;
	position: fixed;
}
