[#assign mdf_request_id = (request.getAttribute("INFO_ITEM").objectEntryId)! /]
[#assign siteURL = (themeDisplay.getURLCurrent()?keep_before("/l"))! /]

[#assign claim_status_style = {"draft": "label label-tonal-dark ml-md-2", "pendingMarketingReview": "label label-tonal-warning ml-md-2", "approved": "label label-tonal-success ml-md-2", "moreInfoRequested": "label label-tonal-warning ml-md-2", "rejected": "label label-tonal-danger ml-md-2", "expired": "label label-tonal-danger ml-md-2", "claimPaid": "label label-tonal-info ml-md-2", "inFinanceReview": "label label-tonal-light ml-md-2", "canceled": "label label-tonal-danger ml-md-2"}]

[#function check_claim status_key]
	[#return status_key != "draft" && status_key != "expired" && status_key != "rejected" /]
[/#function]

[#function get_currency value currency_key="USD"]
	[#return value?string["¤,##0.00;; currencyCode=${currency_key}"] /]
[/#function]

[#macro panel claim site_url]
	[#assign permissionAction = restClient.get("/c/permissionactions?filter=object%20eq%20%27MDF%20Claim%27&pageSize=-1") /]
	[#assign hasDeleteAction = (permissionAction.items?filter(permissionAction -> permissionAction.action == "DELETE")?has_content)! /]
	[#assign hasUpdateAction = (permissionAction.items?filter(permissionAction -> permissionAction.action == "UPDATE")?has_content)! /]

	[#assign currentMDFClaimHasValidStatusToEdit = (claim.mdfClaimStatus.key)! == 'draft' || (claim.mdfClaimStatus.key)! == 'moreInfoRequested' /]
	[#assign accountEntryId = (claim.r_accToMDFClms_accountEntryId)! /]
	[#assign myUserAccount = restClient.get("/headless-admin-user/v1.0/my-user-account") /]
	[#assign isUserAssociated = (myUserAccount.accountBriefs?filter(accountBrief -> accountBrief.id == accountEntryId)?has_content)! /]
	<div>
		<div class="text-neutral-7 text-paragraph-xs">
			Type: ${claim.partial?string('Partial','Full')}
		</div>

		<div class="mb-1 mt-1 text-neutral-9 text-paragraph-sm">
			Claim (${claim.id})
		</div>

		<div class="align-items-baseline d-flex justify-content-between">
			<div class="align-items-baseline d-md-flex">
				<p class="font-weight-bold text-neutral-9 text-paragraph-sm">
					Claimed ${get_currency(claim.totalClaimAmount, (claim.currency.key)!"USD")}
				</p>

				<div class="${claim_status_style[claim.mdfClaimStatus.key]}">
					${(claim.mdfClaimStatus.name)!}
				</div>
			</div>

			<div class="d-flex">
				[#if hasUpdateAction && isUserAssociated && currentMDFClaimHasValidStatusToEdit]
					<a class="btn" href="${siteURL}/marketing/mdf-claims/edit/#/mdf-request/${mdf_request_id}/mdf-claim/${claim.id}">
						[@clay["icon"] symbol="pencil"/]
					</a>
				[/#if]

				[#if hasDeleteAction && claim.mdfClaimStatus.key == "draft"]
					<a class="btn" onClick="callDeleteMDFClaimList(${claim.id})">
						[@clay["icon"] symbol="trash"/]
					</a>
				[/#if]

				<a class="align-items-center btn btn-secondary btn-sm d-flex my-2 view-btn" href="${site_url}/l/${claim.id}">
					View
				</a>
			</div>
		</div>

		<hr />
	</div>
[/#macro]

[#macro modal_script]
	<script>
		const callDeleteMDFClaimList = (claimId) => Liferay.Util.openConfirmModal({
			message: 'Are you sure?',
			onConfirm: (isConfirmed) => {
				if (isConfirmed) {
					deleteClaim(claimId);
				}
			},
		});

		const deleteClaim = async (claimId) => {
			const response = await fetch(
				'/o/c/mdfclaims/' + claimId,
				{
					headers: {
						'x-csrf-token': Liferay.authToken,
					},
					method: 'DELETE',
				}
			);

			if (response.ok) {
				Liferay.Util.openToast({
					message: 'MDF Claim successfully deleted!',
					type: 'success',
				});

				location.reload();

				return;
			}

			Liferay.Util.openToast({
				message: 'The MDF Claim cannot be deleted.',
				type: 'danger',
			});
		};
	</script>
[/#macro]

[#if mdf_request_id?has_content]
	[#assign permission_action = restClient.get("/c/permissionactions?filter=object%20eq%20%27MDF%20Claim%27&pageSize=-1") /]
	[#assign has_create_action = permission_action.items?filter(permission_action -> permission_action.action == "CREATE")?has_content /]
	[#assign site_url = (themeDisplay.getURLCurrent()?keep_before("/l/${mdf_request_id}"))! /]

	[#assign mdf_request = restClient.get("/c/mdfrequests/${mdf_request_id}?nestedFields=actToMDFClmActs,mdfReqToActs,mdfReqToMDFClms,mdfClmToMDFClmActs,mdfClmActToMDFClmBgts&nestedFieldsDepth=3") /]
	[#assign has_active_or_approved_activities_available = (mdf_request.mdfReqToActs?filter(activity -> (activity.activityStatus.key == "active" || activity.activityStatus.key == "approved") && !activity.actToMDFClmActs?filter(activity_claim -> activity_claim.r_mdfClmToMDFClmActs_c_mdfClaim.mdfClaimStatus.key != "draft" && activity_claim.selected)?has_content)?has_content)! /]
	[#assign valid_claims_size = (mdf_request.mdfReqToMDFClms?filter(mdf_claim -> check_claim(mdf_claim.mdfClaimStatus.key))?size)! /]
	[#assign show_claims = (mdf_request.mdfRequestStatus.key)! == "approved" || (mdf_request.mdfRequestStatus.key)! == "canceled" || (mdf_request.mdfRequestStatus.key)! == "completed"]

	[#if show_claims]
		[#list (mdf_request.mdfReqToMDFClms)! as claim]
			[@panel claim=claim site_url=site_url /]
		[/#list]
		[@modal_script /]
		[#if (mdf_request.mdfRequestStatus.key)! != "canceled" && (mdf_request.mdfRequestStatus.key)! != "draft" ]
			<div class="align-items-start d-flex justify-content-between">
				<div>
					<h6 class="font-weight-normal text-neutral-9">
						Get Reimbursed
					</h6>

					[#if valid_claims_size < 2]
						<h6 class="font-weight-normal text-neutral-8">
							1 claim submission is allowed per activity.<br /> Multiple activity requests will be allowed 2 claims.
						</h6>
					[#else]
						<h6 class="font-weight-normal text-neutral-8">
							You already submitted 2 claims.
						</h6>
					[/#if]
				</div>

				[#if valid_claims_size < 2 && has_create_action && has_active_or_approved_activities_available]
					<a class="btn btn-primary" href="${site_url}/marketing/mdf-claims/new/#/mdf-request/${mdf_request_id}">
						New Claim
					</a>
				[/#if]
			</div>
		[/#if]
	[#else]
		[@clay.alert displayType="info" message="No claim information available." title="Info" /]
	[/#if]
[#else]
	<div class="alert alert-info">
		<p>To use this fragment either place it on a Display Page Template to see which attributes are available from <em>request.getAttribute("INFO_ITEM")</em>.</p>
		<p class="mb-0">It's important to note that this will only display the attributes of a display page when you view the published display page not when you are editing it.</p>
	</div>
[/#if]