.lfr-objects__model-builder-node-field {
	align-items: center;
	border-top: 1px solid #f1f2f5;
	color: #6b6c7e;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 1rem 0.5rem 0.5rem;
	transition: 0.3s;

	&-business-type {
		font-size: 10px;
		font-weight: 600;
		text-transform: uppercase;
	}

	&:hover {
		background: #f0f5ff;
		color: #0b5fff !important;
	}

	&-label {
		display: block;
		font-size: 14px;
		font-weight: 400;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 8.8rem;
	}

	&--selected {
		background: #f0f5ff;
		color: #0b5fff !important;
	}
}
