<div class="fragment_549">
	<div class="border-neutral-2 product-update-container" style="min-height:${configuration.minHeight}">
		<div class="icon-container rounded-lg" style="background-color:${configuration.separatorColor}; height: ${configuration.iconWidthAndHeight}; width: ${configuration.iconWidthAndHeight}">
			<lfr-drop-zone data-lfr-drop-zone-id="1"></lfr-drop-zone>
		</div>

		<div class="product-update-info">
			<div class="info-item">
				<lfr-drop-zone data-lfr-drop-zone-id="2"></lfr-drop-zone>
			</div>

			<div class="info-item">
				<lfr-drop-zone data-lfr-drop-zone-id="3"></lfr-drop-zone>
			</div>

			<div class="info-item">
				<lfr-drop-zone data-lfr-drop-zone-id="4"></lfr-drop-zone>
			</div>
		</div>
	</div>
</div>