<div class="bg-brand-primary-lighten-6 d-flex layout-container">
<div class="bg-brand-primary-darken-5 d-lg-flex d-none flex-column justify-content-between ray-sidebar-container ray-sticky-top">
		<div class="d-flex flex-row pt-3 top-bar">
		<img alt="logo" class="logo-icon" src="[resources:raylife_logo_icon.svg]" />

		<img alt="logo name" class="logo-name" src="[resources:raylife_logo_name.svg]" />
		</div>

		<div class="d-flex flex-column middle-bar text-nowrap">
			<div class="align-items-center d-flex dashboard-menu mb-5" id="${configuration.layoutName}">
			<span class="menu-item-name ml-2 text-neutral-5 text-paragraph-sm">
					Dashboard
				</span>
			</div>

			<div class="align-items-center applications-menu d-flex mb-5" id="${configuration.layoutName}">
			<span class="menu-item-name ml-2 text-neutral-5 text-paragraph-sm">
					Applications
				</span>
			</div>

			<div class="align-items-center d-flex mb-5 policies-menu" id="${configuration.layoutName}">
			<span class="menu-item-name ml-2 text-neutral-5 text-paragraph-sm">
					Policies
				</span>
			</div>

			<div class="align-items-center claims-menu d-flex mb-5" id="${configuration.layoutName}">
			<span class="menu-item-name ml-2 text-neutral-5 text-paragraph-sm">Claims</span>
			</div>

			<div class="align-items-center d-flex reports-menu" id="${configuration.layoutName}">
			<span class="menu-item-name ml-2 text-neutral-5 text-paragraph-sm">
					Reports
				</span>
			</div>
		</div>

		<div class="d-flex flex-column footer-bar pb-4 px-2">
			<div class="mb-3 notification-container px-2">
				[#assign requestEntries =
				(restClient.get("/headless-user-notification/v1.0/my-user-notifications").totalCount)!/]

				<span class="badge badge-danger panel-notifications-count">
				<span class="badge-item badge-item-expand">${requestEntries}</span>
				</span>

			<img alt="notification" class="notification-icon" src="[resources:notification_icon.svg]" />
			</div>

			<div class="align-items-center avatar-container d-flex flex-row">
				<div class="mb-3">
					<lfr-drop-zone> </lfr-drop-zone>
				</div>

			<p class="avatar-user-name flex-shrink-0 mb-2 ml-3 text-neutral-0 text-paragraph-sm" />
			</div>
		</div>
	</div>

	<div class="bg-white d-flex flex-column loaded notification-panel notification-sidebar ray-sticky-top sticky-top" id="panel-sidebar">
		<div class="notifications-sidebar-header">
			<div class="autofit-row sidebar-section">
				<div class="autofit-col autofit-col-expand">
					<h4 class="component-title d-flex justify-content-between">
						<span class="notification-span text-truncate-inline">
							Notifications
						</span>

					<svg class="icon-tools lexicon-icon lexicon-icon-cog text-neutral-5" role="presentation">
						<use xlink:href="http://localhost:8080/o/dialect-theme/images/clay/icons.svg#cog" />
						</svg>
					</h4>
				</div>
			</div>
		</div>

		<div>
			<lfr-drop-zone></lfr-drop-zone>
		</div>
	</div>

	<div class="d-flex flex-column w-100" id="${configuration.layoutName}">
		<div class="bg-neutral-0 d-flex justify-content-center page-header-container ray-sticky-top w-100">
			<div class="align-items-center d-flex header-content justify-content-between px-3 py-3 w-100">
				<div class="left-content">
					<lfr-drop-zone></lfr-drop-zone>
				</div>
				[#if configuration.layoutName == 'Details']
				<div class="middle-content">
					<lfr-drop-zone></lfr-drop-zone>
				</div>
				[/#if]
				<div class="d-flex flex-row right-content">
				<img alt="search" class="search-icon" src="[resources:search_icon.svg]" />

					<div class="h-25">
						<lfr-drop-zone></lfr-drop-zone>
					</div>
				</div>
			</div>
		</div>

		<div class="raylife-agent-portal-content">
			<lfr-drop-zone></lfr-drop-zone>
		</div>
	</div>
</div>