.border-link-active::after {
	background-color: #4c84ff;
	bottom: -1px;
	content: '';
	display: block;
	height: 2px;
	left: -1px;
	position: absolute;
	right: -1px;
	width: auto;
	z-index: 1;
}

.nav-link {
	align-items: center;
	background-color: #f3f5f7;
	border: solid 1px #e7e7ed;
	border-left-color: transparent;
	border-right-color: transparent;
	cursor: pointer;
	display: flex;
	height: 49px;
	margin-top: 10px;
}

.nav-link.nav-link-border {
	border-right-color: #ccdae7;
}
