companyId="0"
saml.enabled="false"
saml.entity.id="analytics.liferay.com"
saml.idp.assertion.lifetime="1800"
saml.idp.authn.request.signature.required="true"
saml.idp.session.maximum.age="0"
saml.idp.session.timeout="0"
saml.keystore.credential.password="r3m3mb3r"
saml.role="sp"
saml.sign.metadata="true"
saml.sp.assertion.signature.required="false"
saml.sp.clock.skew="3000"
saml.sp.default.idp.entity.id="www.liferay.com"
saml.sp.ldap.import.enabled="false"
saml.sp.sign.authn.request="true"
saml.ssl.required="true"