.bi-exclamation-square-fill {
	color: #ffb84c;
}
.tooltip-inner {
	background-color: white;
	border: 1px solid lightgray;
	border-radius: 2px;
	color: black;
	display: inline-block;
	font-size: 16px;
	line-height: 2px;
	padding: 8px;
	position: relative;
	text-decoration: none;
}

.tooltip-inner:before {
	border: 10px solid transparent;
	border-bottom-color: lightgray;
	bottom: 100%;
	content: '';
	display: block;
	height: 0;
	left: 18px;
	position: absolute;
	width: 0;
}

.tooltip-inner:after {
	border: 8px solid transparent;
	border-bottom-color: white;
	bottom: 100%;
	content: '';
	display: block;
	height: 0;
	left: 20px;
	position: absolute;
	width: 0;
}
