.color-swatch {
	$colors: (
		main: $main,
		mainLighten4: $mainLighten4,
		mainLighten8: $mainLighten8,
		mainLighten28: $mainLighten28,
		mainLighten52: $mainLighten52,
		mainLighten65: $mainLighten65,
		mainLighten74: $mainLighten74,
		secondaryHover: $secondaryHover,
		primaryLighten23: $primaryLighten23,
		primaryLighten33: $primaryLighten33,
		primaryLighten45: $primaryLighten45,
		primary: $primary,
		primaryDarken5: $primaryDarken5,
		primaryDarken10: $primaryDarken10,
		white: $white,
		lightBackground: $lightBackground,
		error: $error,
		errorLighten28: $errorLighten28,
		errorLighten50: $errorLighten50,
		warning: $warning,
		warningLighten25: $warningLighten25,
		warningLighten60: $warningLighten60,
		info: $info,
		infoLighten28: $infoLighten28,
		infoLighten53: $infoLighten53,
		limegreen: $chartLimeGreen,
		seagreen: $chartSeaGreen
	);

	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;

	@each $name, $color in $colors {
		&.#{'' + $name} .color-display {
			background-color: $color;
			border: 1px solid $mainLighten52;
		}
	}

	.color-display {
		border-radius: 50%;
		height: 100px;
		margin-bottom: 10px;
		width: 100px;
	}

	.color-label {
		background-color: $mainLighten28;
		border-radius: 4px;
		color: $white;
		padding: 1px 4px;
	}
}
