.tag {
	background: #e6ebf5;
	border-color: #e6ebf5;
	border-radius: 4px;
	border-style: solid;
	border-width: 0.0625rem;
	color: #1c3667;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	max-width: 100%;
	overflow-wrap: break-word;
	padding: 3px 8px;
	white-space: inherit;
	word-wrap: break-word;
}
