.add-price-entry-modal-form {
	.add-price-entry-sheet {
		padding: 10px 6px 0;

		& + .add-price-entry-sheet {
			margin-top: 1.5rem;
		}
	}
}

.discount-label-wrapper {
	display: grid;
	grid-template-columns: min-content auto;
	grid-template-rows: min-content auto;
	grid-template-areas:
		'label input'
		'message message';
	grid-gap: 4px;
	margin-right: 8px;

	&:last-of-type {
		margin-right: 0;
	}

	input {
		grid-area: input;
		padding-left: 6px;
		padding-right: 6px;
	}

	label {
		align-self: center;
		grid-area: label;
	}

	.help-block {
		font-size: 10px;
		grid-area: message;
	}
}

.portlet-commerce-discount {
	.discount-detail-header {
		background-color: #fff;
	}

	.breadcrumb {
		margin-bottom: 0;

		& > li {
			a {
				font-size: 0.9rem;
			}
		}
	}
}

.price-entry-price-settings {
	margin-top: 20px;

	&.disabled {
		cursor: not-allowed;
		opacity: 0.4;
		pointer-events: none;
	}

	.discount-label-wrapper {
		label {
			padding-right: 10px;
		}
	}

	.fieldset-legend {
		border-bottom: 1px solid #cdced9;
		font-size: 1rem;
		text-transform: uppercase;
	}

	.management-bar {
		.container-fluid {
			padding: 0;
		}
	}

	.panel-body {
		padding-left: 0;
		padding-right: 0;
	}
}
