#evp-organization-kebab-button svg {
	fill: #0b5fff !important;
}

#evp-organization-kebab-button svg:hover {
	fill-opacity: 0.25;
}

.yui3-widget-bd {
	height: 20px;
}

.dropdown-item.focus {
	box-shadow: none;
}

.dropdown-menu {
	min-width: 90px;
}

.headerTextModal {
	margin-bottom: 0 !important;
}
.modal-title {
	white-space: inherit !important;
}

html:not(#__):not(#___) .cadmin .modal-header,
html:not(#__):not(#___) .cadmin.modal-header {
	border-color: white;
}

html:not(#__):not(#___) .cadmin p {
	margin: 0px 0px;
}

html:not(#__):not(#___) .cadmin .modal-header,
html:not(#__):not(#___) .cadmin.modal-header {
	border-color: white;
	padding-top: 24px;
}

html:not(#__):not(#___) .cadmin textarea {
	overflow: auto;
	padding: 8px;
}

#organization-name {
	font-weight: normal;
}

html:not(#__):not(#___) .cadmin .modal-footer {
	border-top: 1px solid white;
	padding-top: 0px;
}

html:not(#__):not(#___) .cadmin .modal-body {
	padding-bottom: 10px;
}
