[#assign layoutURL = (themeDisplay.getPortalURL() + themeDisplay.getURLCurrent())! /]
[#assign objectRequest = (request.getAttribute("INFO_ITEM_REFERENCE"))! /]
[#assign organizationId = objectRequest?split("classPK=")?last?split(",")?first?trim?replace("}}", "") /]
[#assign URL = (layoutURL?substring(0,layoutURL?lastIndexOf('/')))! /]
[#assign userRoles = permissionChecker.getUserBag().getRoles() /]
[#assign organizationStatusListing =["rejected","awaitingMoreInfoFromEmployee", "verified"] /]

[#if organizationId?? &&organizationId?hasContent]

	[#assign organization = (restClient.get("/c/evporganizations/" + organizationId))! /]

	<input class="organizationId" id="${organizationId}" type="hidden" value="${organizationId}" />
	<input class="userRoles" type="hidden" value="${userRoles[1].name}" />

	<span class="organizationName" hidden>${organization.organizationName}</span>

	<div id="evp-organization-kebab-button">
		[@liferay_ui["icon-menu"]
			direction="left-side"
			markupView="lexicon"
			showWhenSingleIcon=true
		]

		[@liferay_ui["icon"]
			message="Details"
			url="${URL}/l/${organizationId}"
		/]

			[#list userRoles as role]
				[#if role.name == "Administrator" ||
					role.name == "EVP Manager" && organization.organizationStatus.key =="verified" ||
					role.name == "Finance User" && organization.organizationStatus.key == "awaitingFinanceApproval" ||
					role.name == "Employee" && organization.organizationStatus.key == "awaitingMoreInfoFromEmployee" && user.userId == organization.creator.id

				]

					[@liferay_ui["icon"]
						message="Edit"
						url=URL + "/edit-organization-form?id=" + organizationId
					/]
				[/#if]

				[#if role.name == "Finance User" &&
					organization.organizationStatus.key == "awaitingFinanceApproval" &&	!organizationStatusListing?seqContains(organization.organizationStatus.key) ||
					role.name == "EVP Manager" && organization.organizationStatus.key == "awaitingApprovalOnEVP" &&	!organizationStatusListing?seqContains(organization.organizationStatus.key)

				]
					<div class="btn-open-modal">
						[@liferay_ui["icon"]
							message="Review"
							url="#${organizationId}"
						/]
					</div>
				[/#if]
			[/#list]
		[/@]
	</div>
[/#if]