<div class="fragment_1025 position-relative">
	<div class="panel" id="panel" name="panel">
		<div class="panel-header">
			<div class="panel-header-left">
				<div class="animate__animated animate__fadeIn d-none panel-step bg-brand-primary-darken-1" name="txt-step-incomplete">
					<lfr-editable id="txt-step" name="txt-step" type="text">1</lfr-editable>
				</div>

				<div class="animate__animated animate__fadeIn d-none panel-step bg-brand-primary-lighten-5" name="txt-step-complete">
					<img src="[resources:check.svg]" />
				</div>

				<h4 class="text-neutral-9">
					<lfr-editable id="txt-header" name="txt-header" type="text">
						Customer of Clarity
					</lfr-editable>
				</h4>
			</div>

			<div class="panel-header-right">
				<button class="animate__animated animate__fadeIn mark-as-incomplete d-none pr-4" name="btn-incomplete" onclick="markAsIncomplete(${configuration.panelId})">
					Mark as Incomplete
					<img class="animate__animated animate__fadeIn d-none spinner" name="incomplete-spinner" src="[resources:loading.svg]" />
				</button>

				<button class="animate__animated animate__fadeIn mark-as-complete d-none pr-4" name="btn-complete" onclick="markAsComplete(${configuration.panelId})">
					Mark as Complete
					<img class="animate__animated animate__fadeIn d-none spinner" name="complete-spinner" src="[resources:loading.svg]" />
				</button>

				<p class="text-neutral-9">
					<lfr-editable id="txt-time-to-read" name="txt-time-to-read" type="text">
						4 min
					</lfr-editable>
				</p>

				<div class="panel-toggle" onclick="toggle(${configuration.panelId})">
					<span name="arrow" class="arrow arrow-collapse">^</span>
				</div>
			</div>
		</div>

		<div class="panel-body" name="panel-body">
			<lfr-drop-zone></lfr-drop-zone>
		</div>
	</div>
</div>

<script>
	{
		const arrows = document.getElementsByName('arrow');
		const btnMarkAsCompleteElements = document.getElementsByName('btn-complete');
		const btnMarkAsCompleteSpinnerElements = document.getElementsByName('complete-spinner');
		const btnMarkAsIncompleteElements = document.getElementsByName('btn-incomplete');
		const btnMarkAsIncompleteSpinnerElements = document.getElementsByName('incomplete-spinner');
		const panelBodies = document.getElementsByName('panel-body');
		const panels = document.getElementsByName('panel');
		const stepCheckElements = document.getElementsByName('txt-step-complete');
		const stepNumberElements = document.getElementsByName('txt-step-incomplete');
		var steps = {};

		async function loadData() {
			const apiResponse = await fetch('/o/c/m2h8progresstrackers?p_auth=' + Liferay.authToken, {headers: {'Content-Type': 'application/json'}});

			if (apiResponse.ok){
				const data = await apiResponse.json();

				success(data);
			}else{
				error();
			}

			function error() {
				showToastError('Could not load data.');
			}

			function success(data) {
				let btnMarkAsCompleteElement = btnMarkAsCompleteElements[${ configuration.panelId }-1];
				let btnMarkAsIncompleteElement = btnMarkAsIncompleteElements[${ configuration.panelId }-1];
				let stepCheckElement = stepCheckElements[${ configuration.panelId }-1];
				let stepNumberElement = stepNumberElements[${ configuration.panelId }-1];

				const step = data.items.find(i => i.stepNumber === ${ configuration.panelId });

				if (step) {
					steps[${ configuration.panelId } - 1] = {
						stepNumber: step.stepNumber,
							done: step.done,
								id : step.id
					};

					if (steps[${ configuration.panelId } - 1].done) {
						replaceCSSClasses(stepCheckElement, 'd-none', 'd-flex');
						replaceCSSClasses(btnMarkAsIncompleteElement, 'd-none', 'd-flex')
					} else {
						replaceCSSClasses(stepNumberElement, 'd-none', 'd-flex');
						replaceCSSClasses(btnMarkAsCompleteElement, 'd-none', 'd-flex');
					}
				}
			}
		}

		function markAsComplete(id) {
			let btnMarkAsCompleteElement = btnMarkAsCompleteElements[id - 1];
			let btnMarkAsCompleteSpinnerElement = btnMarkAsCompleteSpinnerElements[id - 1];
			let btnMarkAsIncompleteElement = btnMarkAsIncompleteElements[id - 1];
			let stepCheckElement = stepCheckElements[id - 1];
			let stepNumberElement = stepNumberElements[id - 1];

			replaceCSSClasses(btnMarkAsCompleteElement, 'pr-4');
			replaceCSSClasses(btnMarkAsCompleteSpinnerElement, 'd-none', 'd-block');

			function success() {
				replaceCSSClasses(btnMarkAsCompleteElement, null, 'pr-4');
				replaceCSSClasses(btnMarkAsIncompleteElement, 'd-none', 'd-flex')
				replaceCSSClasses(btnMarkAsCompleteElement, 'd-flex', 'd-none');
				replaceCSSClasses(stepCheckElement, 'd-none', 'd-flex');
				replaceCSSClasses(stepNumberElement, 'd-flex', 'd-none');
				replaceCSSClasses(btnMarkAsCompleteSpinnerElement, 'd-block', 'd-none');
			}

			function error() {
				showToastError('Something went wrong, please try again later.');
				replaceCSSClasses(btnMarkAsCompleteElement, null, 'pr-4');
				replaceCSSClasses(btnMarkAsCompleteSpinnerElement, 'd-block', 'd-none');
				loadData();
			}

			updateStep({
				id: steps[(id - 1)].id,
				done: true,
				stepNumber: steps[id - 1].stepNumber
			}, success, error)
		}

		function markAsIncomplete(id) {
			let btnMarkAsCompleteElement = btnMarkAsCompleteElements[id - 1];
			let btnMarkAsIncompleteElement = btnMarkAsIncompleteElements[id - 1];
			let btnMarkAsIncompleteSpinnerElement = btnMarkAsIncompleteSpinnerElements[id - 1];
			let stepCheckElement = stepCheckElements[id - 1];
			let stepNumberElement = stepNumberElements[id - 1];

			replaceCSSClasses(btnMarkAsIncompleteElement, 'pr-4');
			replaceCSSClasses(btnMarkAsIncompleteSpinnerElement, 'd-none', 'd-block');

			function success() {
				replaceCSSClasses(btnMarkAsIncompleteElement, null, 'pr-4');
				replaceCSSClasses(btnMarkAsIncompleteElement, 'd-flex', 'd-none');
				replaceCSSClasses(btnMarkAsCompleteElement, 'd-none', 'd-flex')
				replaceCSSClasses(stepCheckElement, 'd-flex', 'd-none');
				replaceCSSClasses(stepNumberElement, 'd-none', 'd-flex');
				replaceCSSClasses(btnMarkAsIncompleteSpinnerElement, 'd-block', 'd-none');
			}

			function error() {
				showToastError('Something went wrong, please try again later.');
				replaceCSSClasses(btnMarkAsIncompleteElement, null, 'pr-4');
				replaceCSSClasses(btnMarkAsIncompleteSpinnerElement, 'd-block', 'd-none');
				loadData();
			}

			updateStep({
				id: steps[(id - 1)].id,
				done: false,
				stepNumber: steps[id - 1].stepNumber
			}, success, error)
		}

		function replaceCSSClasses(element, removeClass, addClass) {
			if (removeClass) {
				element.classList.remove(removeClass);
			}

			if (addClass) {
				element.classList.add(addClass);
			}
		}

		function showToastError(message) {
			$.toast({
				heading: 'Error',
				text: message,
				position: 'top-right',
				icon: 'error',
				stack: true
			});
		}

		function showToastSuccess(message) {
			$.toast({
				heading: 'Success',
				text: message,
				position: 'top-right',
				icon: 'success',
				stack: true,
				bgColor: '#4caf50',
				textColor: 'white'
			});
		}

		function toggle(id) {
			let arrow = arrows[+id - 1];
			let panel = panels[+id - 1];
			let panelBody = panelBodies[+id - 1];

			if (arrow.classList.contains('arrow-expand')) {
				arrow.classList.remove('arrow-expand');
				arrow.classList.add('arrow-collapse');
				panelBody.classList.remove('panel-body-expand');
				panelBody.classList.add('panel-body-collapse');
				panel.classList.remove('panel-expand');
				panel.classList.add('panel-collapse');
			} else if (arrow.classList.contains('arrow-collapse')) {
				arrow.classList.remove('arrow-collapse');
				arrow.classList.add('arrow-expand');
				panelBody.classList.remove('panel-body-collapse');
				panelBody.classList.add('panel-body-expand');
				panel.classList.remove('panel-collapse');
				panel.classList.add('panel-expand');
			}
		}

		async function updateStep(data, success, error) {
			const apiResponse = await fetch('/o/c/m2h8progresstrackers/' + data.id + '?p_auth=' + Liferay.authToken, {
				method:"PUT",
				body: JSON.stringify(data),
				headers: {
					'Content-Type': 'application/json'
				}});

			if (apiResponse.ok){
				const data = await apiResponse.json();

				success(data);
			}else{
				error();
			}
		}

		(async () => {
			await loadData();
		})();
	}
</script>