.fragment_1025 .panel {
	background: var(--neutral-00, #fff);
	border: 1px solid var(--neutral-02, #dcdfdf);
	border-radius: 10px;
	box-shadow: 0 10px 30px 0 rgba(4, 21, 21, 0.09);
	margin-bottom: 2rem !important;
	max-height: 130px;
	padding: 32px;
}

.fragment_1025 .panel-header {
	display: flex;
	justify-content: space-between;
}

.fragment_1025 .panel-header-left {
	align-items: baseline;
	display: flex;
}

.fragment_1025 .panel-header-right {
	align-items: center;
	display: flex;
}

.fragment_1025 .panel-header-right p {
	font-size: 16px !important;
	margin: 0;
}

.fragment_1025 .panel-step {
	align-items: center;
	border-radius: 72px;
	color: white;
	display: flex;
	font-size: 18px;
	height: 48px;
	justify-content: center;
	margin-right: 16px;
	text-align: center;
	width: 48px;
}

.fragment_1025 .panel-toggle {
	align-items: center;
	border-radius: 32px;
	box-shadow: 0 2px 7px 0 rgba(29, 140, 140, 0.24);
	display: flex;
	font-size: 25px !important;
	height: 48px;
	justify-content: center;
	margin-left: 16px;
	width: 48px;
}

.fragment_1025 .arrow {
	cursor: pointer;
	padding-top: 8px;
}

.fragment_1025 .arrow-expand {
	animation-duration: 500ms;
	animation-name: arrow-expand;
	transform: rotate(0);
}

.fragment_1025 .arrow-collapse {
	animation-duration: 500ms;
	animation-name: arrow-collapse;
	transform: rotate(180deg);
}

@keyframes arrow-expand {
	from {
		transform: rotate(180deg);
	}

	to {
		transform: rotate(0);
	}
}

@keyframes arrow-collapse {
	from {
		transform: rotate(0);
	}

	to {
		transform: rotate(180deg);
	}
}

.fragment_1025 .panel-body {
	opacity: 0;
}

.fragment_1025 .panel-body-expand {
	animation: panel-body-expand 600ms ease-in;
	opacity: 1;
}

.fragment_1025 .panel-body-collapse {
	animation: panel-body-collapse 600ms ease-out;
	opacity: 0;
}

@keyframes panel-body-expand {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes panel-body-collapse {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.fragment_1025 .panel-expand {
	animation: panel-expand 500ms ease-in;
	max-height: 2000px;
}

.fragment_1025 .panel-collapse {
	animation: panel-collapse 500ms ease-in-out;
	max-height: 130px;
}

@keyframes panel-expand {
	from {
		max-height: 130px;
	}

	to {
		max-height: 2000px;
	}
}

@keyframes panel-collapse {
	from {
		max-height: 2000px;
	}

	to {
		max-height: 130px;
	}
}

.fragment_1025 .mark-as-complete {
	align-items: center;
	background-color: white;
	border: 1px solid #3a4747;
	border-radius: 5px;
	color: #3a4747;
	cursor: pointer;
	font-size: 14px;
	font-weight: 900;
	line-height: 2.5;
	margin-right: 24px;
	padding: 6px 6px 6px 30px;
}

.fragment_1025 .mark-as-complete:hover {
	background-color: #d0e7e7;
}

.fragment_1025 .mark-as-incomplete {
	align-items: center;
	background-color: white;
	border: 0;
	color: #3a4747;
	cursor: pointer;
	font-size: 14px;
	font-weight: 900;
	line-height: 2.5;
	margin-right: 24px;
	padding: 6px 6px 6px 30px;
}

.fragment_1025 .mark-as-incomplete:hover {
	border: 1px solid #3a4747;
	border-radius: 5px;
}

.custom-loading img {
	position: absolute;
	top: 0;
	width: 100px;
}

.fragment_1025 .spinner {
	width: 40px;
}
