.gallery-container {
	.image-container {
		cursor: pointer;

		&:hover {
			cursor: zoom-in;
			opacity: 0.7;
		}
	}

	.image {
		max-width: 100%;
		object-fit: cover;
	}

	.modal {
		left: 0;
		top: 0;
		z-index: 2;
	}

	.modal-overlay {
		background-color: rgba(0, 0, 0, 0.5);
		left: 0;
		top: 0;
		z-index: 1;
	}

	.modal-content {
		height: 80%;
		max-height: 800px;
		max-width: 1200px;
		width: 90%;
		z-index: 2;
	}

	.modal-close {
		cursor: pointer;
		z-index: 1;
	}

	.modal-prev,
	.modal-next {
		cursor: pointer;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;

		&:hover {
			background-color: rgba(0, 0, 0, 0.1);
		}
	}

	.button-unable {
		opacity: 0.4;

		&:hover {
			background: none;
			cursor: not-allowed;
		}
	}

	.modal-prev {
		left: 10px;
	}

	.modal-next {
		right: 10px;
	}

	.modal-carousel-container {
		img {
			height: 450px !important;
			width: 450px !important;
		}

		.slide {
			left: 0;
			top: 0;
			transition: all 0.3s ease-out;

			.active {
				transform: scale(1);
			}
		}

		.slide img {
			object-fit: contain;
		}
	}

	.gallery-modal-preview-bar {
		.item {
			cursor: pointer;
		}

		.active {
			border: 2px solid rgb(69, 69, 233);
		}

		.item img {
			border: 3px solid white;
			height: 99px;
			object-fit: cover;
			transition: all 0.3s ease-out;
			width: 105px;
		}
	}
}
