companyWebId="liferay.com"
includeAllAssetLinks=B"false"
publishPermissionsByDefault=B"false"
replicateIndividualDeletionsByDefault=B"false"
validateFileEntryReferences=B"true"
validateJournalFeedReferences=B"true"
validateLayoutReferences=B"true"
validateLayoutReferencesWhitelistedURLPatterns=[ \
"/dl/*", \
]
validateMissingReferences=B"true"