.tr-floating-box {
	background-color: $color-white;
	bottom: 10px;
	box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.04),
		0 4px 14px 0 rgba(0, 0, 0, 0.1);
	left: 0;
	margin: auto;
	position: fixed;
	right: 0;
	width: 650px;
	z-index: 98;

	&__alert {
		max-height: 100px;
		overflow-y: auto;

		&__items {
			background-color: $color-red-light;
			margin-bottom: 0;
			padding: 5px;
		}
	}

	&--hidden {
		margin-bottom: -10px !important;
		opacity: 0 !important;
		transition: all 0.5s ease;
		visibility: hidden !important;
	}

	&__label {
		align-items: center;
		display: flex;

		&__count {
			background-color: $color-primary;
			color: $color-white;
			height: 26px;
			margin-right: 0.5rem;
			padding: 1px;
			text-align: center;
			width: 25px;
		}
	}

	&--visible {
		margin-bottom: 0;
		opacity: 1;
		transition: all 0.5s ease;
		visibility: visible;
	}
}
