.tr-progress-bar {
	display: flex;
	height: 15px;
	margin: 10px 0;
	white-space: nowrap;

	&__item {
		&.blocked {
			background-color: $color-yellow;
		}

		&.failed {
			background-color: $color-red;
		}

		&.others-completed {
			background-color: $color-primary-light;
		}

		&.passed {
			background-color: $color-green;
		}

		&.self-completed {
			background-color: $color-primary;
		}

		&.test-fix {
			background-color: $color-blue;
		}

		&.test-incomplete {
			background-color: $color-gray-light;
		}
	}

	&__legend-item-label {
		color: $label-color;
		font-family: sans-serif;
		font-size: 12px;
		font-weight: $font-header-weight;
		margin-top: 0.25rem;
		text-transform: uppercase;
	}

	&__legend-bar-item {
		font-family: sans-serif;
		height: 16px;
		width: 16px;

		&.blocked {
			background-color: $color-yellow;
		}

		&.failed {
			background-color: $color-red;
		}

		&.others-completed {
			background-color: $color-primary-light;
		}

		&.passed {
			background-color: $color-green;
		}

		&.self-completed {
			background-color: $color-primary;
		}

		&.testfix {
			background-color: $color-blue;
		}

		&.test-incomplete {
			background-color: $color-gray-light;
		}
	}
}
