{
	"env": {
		"test": {
			"plugins": [
				[
					"@babel/plugin-proposal-decorators",
					{
						"legacy": true
					}
				],
				["@babel/plugin-proposal-class-properties", {"loose": true}],
				"dynamic-import-node",
				"import-graphql",
				"transform-require-context"
			]
		}
	},
	"plugins": [
		"graphql-tag",
		"lodash",
		"@babel/plugin-syntax-dynamic-import"
	],
	"presets": [
		"@babel/preset-react",
		[
			"@babel/preset-env",
			{
				"corejs": "^2.5.7",
				"useBuiltIns": "usage",
				"targets": {
					"ie": "11"
				}
			}
		]
	]
}