[#if configuration.type == "action"]
	<button class="btn btn-${configuration.buttonSize} btn-${configuration.buttonType}" data-lfr-editable-id="action" data-lfr-editable-type="action">
		Go Somewhere
	</button>

	[#else]
		<div class="component-button text-break">
			<a class="btn btn-${configuration.buttonSize} btn-${configuration.buttonType}" data-lfr-editable-id="link" data-lfr-editable-type="link" href="" id="fragment-${fragmentEntryLinkNamespace}-link">
				Go Somewhere
			</a>
		</div>
[/#if]