.account-overview-root {
	.known-individuals-card-root {
		&.card-root .bb .bb-zoom-rect {
			opacity: 0 !important;
		}

		.card-header {
			padding-bottom: 8px;
		}

		.table {
			table-layout: fixed;
		}

		.table-head-title {
			font-weight: $fontWeightRegular;
		}

		.name {
			width: 45%;
		}

		.score {
			width: 15%;
		}
	}
}
