.associated-segments-card-root {
	.content {
		min-height: 100px;
		position: relative;
	}

	.entity-list-root .autofit-col {
		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}
}