.dropdown-root .base-select-menu.dropdown-menu {
	max-width: 240px;

	.dropdown-header {
		color: $mainLighten28;
		font-size: $fontSizeExtraSmall;
		font-weight: $fontWeightSemiBold;
		margin-bottom: 8px;
		padding-bottom: 0;
		padding-top: 0;
		text-transform: uppercase;
	}
}

.base-select-input-root {
	&.inset {
		.input-group-inset-item,
		.input-root {
			background-color: transparent;
			border-width: 0;
			margin-bottom: 0.125rem;
			margin-top: 0.125rem;
			min-height: 1.5rem;
			padding: 0;

			&:disabled::placeholder {
				color: $mainLighten52;
			}
		}
	}
}