.base-configuration-item-root {
	align-items: center;
	display: flex;
	margin-bottom: 16px;

	.actions {
		margin-right: 32px;
		min-width: 144px;

		.btn {
			width: 144px;
		}

		.btn-primary.link-disabled {
			color: $white;
		}

		.metric-bar-root {
			margin-top: 16px;
		}
	}

	.description {
		font-size: $fontSizeSmall;
	}

	.status {
		font-size: $fontSizeExtraSmall;
	}

	.title {
		margin-bottom: 4px;
	}
}