.breadcrumbs-root {
	margin-bottom: 18px;

	.breadcrumb-item {
		line-height: 26px;

		&.active {
			font-weight: $fontWeightSemiBold;

			> .breadcrumb-link {
				color: $main;
			}
		}

		&:not(.active) > span {
			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}
		}

		.breadcrumb-text-truncate {
			pointer-events: all;
		}
	}
}