.card-mappings-root {
	line-height: 1.5em;
	list-style: none;
	padding-left: 0;

	li.active {
		background-color: $infoLighten28;
	}

	.mapping-prefix {
		font-weight: bold;
	}

	.mapping-prefix, .mapping-value {
		margin-right: 4px;
	}
}