.card-tabs-root {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 24px;
	padding: 0;

	.card-tab {
		font-size: $fontSizeSmall;
		line-height: 24px;
		margin: 0 8px;
		position: relative;

		&:first-child {
			margin-left: 0;
		}

		&.active {
			&::after {
				background-color: $primary;
				bottom: 0;
				content: '';
				display: block;
				height: 0.25rem;
				left: 0;
				position: absolute;
				right: 0;
				width: auto;
			}

			.title {
				font-weight: $fontWeightSemiBold;
			}

			> .button-root {
				color: $main;
			}
		}

		> .button-root {
			color: $mainLighten28;
			padding: 8px 4px;
			width: 100%;

			&:hover {
				background-color: $lightBackground;
			}
		}

		> div {
			font-size: $fontSizeSmall;
		}

		.button-root {
			border-radius: 0;
		}

		.primary-content {
			align-items: baseline;
			display: flex;
			font-size: 32px;
			font-weight: $fontWeightSemiBold;
			line-height: 32px;
			margin: 8px 0;

			.denominator,
			.metric-value-letter {
				font-size: $fontSizeSmall;
				line-height: 0;
			}
		}

		.title {
			font-size: $fontSizeMedium;
		}
	}

	&.mdn-button-tab {
		.card-tab {
			> .button-root {
				min-width: 130px;
			}
		}
	}

	&.small {
		margin: 0;

		.title {
			font-size: $fontSizeSmall;
			font-weight: $fontWeightSemiBold;
		}
	}
}