$c: '.analytics-experiments-line-chart';

#{$c} {
	width: 100%;

	.bb {
		&-axis {
			font-weight: $fontWeightSemiBold;
		}

		&-axis-x {
			transform: translateY(270px);

			.tick {
				&:not(:only-of-type) {
					&:first-of-type text {
						text-anchor: start !important;
					}

					&:last-of-type text {
						text-anchor: end !important;
					}
				}
			}
		}

		&-line-data-previous {
			stroke-width: 1px;
		}

		&-xgrid-focus > line {
			stroke: $mainLighten52 !important;
		}
	}

	.bb-tooltip-container {
		max-width: none !important;
	}
}