$c: '.analytics-dropdown-menu';
$max_height: 598px;

#{$c} {
	margin: 0.125rem 0 0;
	max-height: $max_height;
	overflow: visible;

	&.dropdown-menu {
		max-width: auto;
		position: absolute;
		width: auto;
	}

	&.dropdown-visible {
		display: block;
	}

	ul {
		max-height: calc(#{$max_height} - 72px);
		overflow-x: hidden;
		overflow-y: auto;
	}

	.custom-control-label {
		width: 130px;
	}

	li {
		position: relative;

		#{$c} {
			position: absolute;
			right: 0;
			top: 0;
			transform: translateX(100%);
		}
	}

	.dropdown-item-indicator .lexicon-icon {
		font-size: $font-size-sm-2x;
	}

	#{$c}-search-container,
	.dropdown-item-custom {
		padding: 0.5rem 1.25rem;
	}
}

body #{$c} {
	margin: 0;
}