$c: '.analytics-tooltip';
$tooltip-arrow-size: 6px;

#{$c} {
	&.clay-tooltip-top {
		transform: translateY(-#{$tooltip-arrow-size});
	}

	&.clay-tooltip-right {
		transform: translateX($tooltip-arrow-size);
	}

	&.clay-tooltip-bottom {
		transform: translateY($tooltip-arrow-size);
	}

	&.clay-tooltip-left {
		transform: translateX(-#{$tooltip-arrow-size});
	}
}