.change-legend-root {
	display: flex;
	margin-bottom: 32px;

	.legend-item {
		color: $mainLighten8;
		margin-right: 60px;

		.legend-header {
			align-items: center;
			display: flex;
			line-height: 24px;

			.legend-color {
				border-radius: 50%;
				display: inline-block;
				height: 12px;
				margin-right: 8px;
				width: 12px;
			}

			.title {
				font-size: $fontSizeSmall;
				font-weight: $fontWeightSemiBold;
			}
		}

		.secondary-info {
			font-size: $fontSizeExtraSmall;
			line-height: 24px;
			margin-left: 20px;
		}

		.change {
			color: $mainLighten28;
			margin-left: 12px;

			&.decrease {
				color: $error;
			}

			&.increase {
				color: $success;
			}

			.icon-root {
				margin-right: 8px;
			}
		}
	}
}