.chart-root {
	/*
	* Custom chart grid to match Lexicon UI
	*/

	.bb {
		text tspan {
			font-family: $font-family;
			font-size: $font-size-sm-1x;
		}

		.bb-zoom-rect {
			fill: transparent;
			opacity: 1 !important;
			rx: 4;
			ry: 4;
			stroke: $mainLighten74;
			stroke-width: 1px;
		}

		.bb-xgrid-line line,
		.bb-ygrids line {
			stroke: $mainLighten74;
			stroke-dasharray: 3px;
			stroke-width: 1px;
		}

		.bb-axis .domain,
		.bb-ygrids .bb-ygrid:first-child,
		.bb-ygrids .bb-ygrid:last-child,
		.bb-xgrid-lines .bb-xgrid-line:first-child,
		.bb-xgrid-lines .bb-xgrid-line:last-child {
			opacity: 0;
		}
	}

	svg {
		.bb-circles .bb-circle {
			&._expanded_ {
				stroke: $white;
			}

			&._selected_ {
				r: 5;
				stroke: $white;
			}
		}

		.bb-selected-circle {
			stroke: $white;
		}

		.bb-xgrid-focus > line {
			stroke: $primaryLighten23;
			stroke-width: 1px;
		}
	}

	&.selectable {
		.bb-chart-bars {
			.bb-bar {
				fill: $chartBlueLighten30 !important;

				&._selected_ {
					fill: $chartBlue !important;
				}
			}
		}
	}

	.chart-labels {
		color: $mainLighten28;
		display: flex;
		font-size: $fontSizeSmall;
		justify-content: space-between;
		margin-bottom: 0.5rem;
	}
}