$circleSize: 8px;

.chart-legend {
	display: flex;
	justify-content: flex-end;
	margin: 0;
	padding: 0;
}

.bb-legend-item,
.chart-legend-item {
	align-items: center;
	color: $secondary;
	display: inline-flex;
	font-size: $fontSizeSmall;
	line-height: 1.125rem;
	list-style: none;
	margin-left: 1.5rem;

	.legend-icon {
		fill: none;
		margin-right: 0.5rem;

		&.circle {
			height: 8px;
			width: 8px;
		}

		&.line {
			height: 2px;
			width: 26px;

			&.line-dashed {
				background-size: 26px 2px;
			}
		}
	}
}

.legend-template {
	.circle {
		border-radius: 50%;
		float: left;
		height: $circleSize;
		margin-right: unset;
		width: $circleSize;
	}

	.legend-template-column {
		align-items: baseline;
		color: $secondary;
		display: flex;
		font-size: $font-size-md;

		&:nth-child(2) {
			margin-right: 0.25rem;
		}

		&:nth-child(1),
		&:nth-child(3) {
			font-weight: $fontWeightSemiBold;
		}

		&:nth-child(2),
		&:nth-child(3) {
			text-align: right;
		}

		.text-truncate {
			padding-left: 0.5rem;
			width: calc(100% - #{$circleSize});
		}
	}

	&.enable-interaction {
		li {
			&[class*='focused'] {
				opacity: 1;
			}

			&:not([class*='focused']) {
				opacity: 0.3;
			}
		}
	}

	li {
		padding-bottom: 0.5rem;

		&.two-columns {
			display: grid;
			grid-template-columns: 60% 40%;
		}

		&.three-columns {
			display: grid;
			grid-template-columns: 60% 20% 20%;
		}

		&:last-child {
			padding-bottom: 0;
		}
	}
}

.legend-text-color{
	color: $mainLighten28;
}
