.bb-legend {
	&-background {
		stroke-width: 0;
	}

	&-item a {
		color: inherit;
	}
}

.bb-tooltip-container {
	border: 1px solid $mainLighten65;
	border-radius: 3px;
	max-width: none;
	padding: 0;

	.bb-tooltip {
		box-shadow: none;

		td,
		th {
			font-size: $fontSizeExtraSmall;
			padding: 2px 14px;
		}

		th {
			border-bottom: 1px solid $mainLighten65;
			padding: 6px 14px;
		}

		tr:nth-child(2) td {
			padding-top: 6px;
		}

		tr:last-child td {
			padding-bottom: 6px;
		}
	}

	.analytics-tooltip-chart {
		display: block;
	}
}

.chart-tooltip-root {
	font-size: $fontSizeExtraSmall;
	line-height: 15px;

	.contents {
		display: flex;
		flex-direction: column;

		> div {
			display: flex;
			justify-content: space-between;

			b {
				margin-left: 12px;
			}
		}
	}

	.contents,
	.header {
		color: $mainLighten28;
		padding: 8px 12px;

		> div:not(last-child) {
			margin-bottom: 4px;
		}

		> .title {
			margin-bottom: 14px;
		}
	}

	.divider {
		background-color: $mainLighten74;
		height: 1px;
	}

	.title {
		font-weight: $fontWeightSemiBold;
	}

	.title,
	b {
		color: $main;
	}
}
