.chart-breakdown-modal-root {
	.modal-body {
		display: flex;
		padding: 0;

		> div {
			flex-basis: 50%;

			&.chart-wrapper {
				border-right: 1px solid $mainLighten74;
				padding-top: 44px;
				text-align: center;
			}
		}

		.list-wrapper {
			max-height: 520px;
			overflow-y: auto;
		}
	}
}