$c: '.channels-menu';

#{$c} {
	align-items: center;
	color: $white;
	display: flex;
	font-weight: $fontWeightSemiBold;
	height: 54px;
	margin-top: 20px;
	position: relative;
	transition: background-color 0.15s ease-out;

	#{$c}-caret {
		align-items: center;
		align-self: stretch;
		border-left: 1px solid $mainLighten4;
		color: $mainLighten74;
		display: flex;
		justify-content: center;
		width: 32px;
	}

	#{$c}-icon {
		align-items: center;
		bottom: 0;
		color: $mainLighten74;
		display: flex;
		font-size: $fontSizeMedium;
		justify-content: center;
		left: 0;
		margin: auto;
		opacity: 0;
		position: absolute;
		right: 0;
		top: 0;
		visibility: hidden;
	}

	#{$c}-label {
		display: -webkit-box;
		margin: 6px 8px;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		min-width: 148px;
		overflow: hidden;
		white-space: normal;
		width: 148px;
	}

	&:hover,
	&:active,
	&:focus {
		background: $main;
		color: $white;
	}
}

#{$c}-dropdown {
	background: $main;
	color: $white;
	max-height: 90vh;
	max-width: 281px;
	overflow: hidden;
	position: fixed;
	z-index: $menuZIndex;

	.dropdown-item:hover,
	.dropdown-item:focus {
		background-color: transparent;
	}

	#{$c}-dropdown-header {
		padding: 8px 16px;

		.title {
			align-items: center;
			display: flex;
			font-size: $fontSizeLarge;
			font-weight: $fontWeightBold;
			justify-content: space-between;
			margin-bottom: 16px;
		}

		.dropdown-section {
			padding: 0;
		}

		.form-control {
			background: $mainLighten4;
			border: 1px solid $main;
			border-right: none;
			color: $mainLighten52;
		}

		.input-group-inset-item {
			background: $mainLighten4;
			border-color: $main;
			border-left: none;
		}

		.input-group-inset-item-after {
			color: $mainLighten52;
		}
	}

	#{$c}-dropdown-body {
		overflow-y: auto;

		& li:last-child .link {
			border-bottom: none;
		}

		.sites-dropdown-item {
			padding: 0;

			.link {
				border-bottom: 1px solid $mainLighten8;
				border-radius: 0;
				color: $mainLighten74;
				display: inline-block;
				font-size: $fontSizeSmall;
				padding: 10px 32px;
				transition: background-color 0.15s ease-out,
					color 0.15s ease-out;
				width: 100%;

				&:active,
				&:focus,
				&:active:focus {
					color: $white;
					text-decoration: none;
				}

				&:hover {
					background: $mainLighten4;
					color: $secondaryHover;
					text-decoration: none;
				}
			}

			&.active .link {
				background: $mainLighten8;
				border-left: 4px solid $primary;
				color: $white;
				padding-left: 28px;

				.item-label {
					font-weight: $fontWeightBold;
				}
			}

			.link-content-wrapper {
				align-items: flex-start;
				display: flex;
				flex-direction: column;
			}
		}
	}

	&.show {
		display: flex;
		flex-direction: column;
	}
}
