.code-snippet-root {
	background-color: $mainLighten8;
	border-radius: 4px;
	min-height: 184px;
	padding: 16px;

	.code-container {
		color: $mainLighten74;
		font-family: 'Source Code Pro', monospace;
		font-size: $fontSizeMedium;
		white-space: pre-wrap;
	}

	.copy-button {
		position: absolute;
		right: 3em;
	}
}