.cohort-chart-root {
	border-collapse: separate;
	font-size: $fontSizeSmall;
	width: 100%;

	.cohort-item-root {
		background: $lightBackground;
		color: $black;
		font-weight: $fontWeightSemiBold;
	}

	.period,
	.visitors {
		color: $mainLighten28;
	}

	.visitors,
	.visitors-header {
		padding-right: 32px;
	}

	.visitors {
		color: $mainLighten28;
		font-size: $fontSizeExtraSmall;
	}

	td {
		height: 40px;
		min-width: 68px;
		white-space: nowrap;
	}

	th.visitors {
		font-size: $fontSizeSmall;
		font-weight: $fontWeightBold;
		height: 40px;
	}

	@media screen and (max-width: $minPageWidth) {
		.period {
			font-size: $fontSizeExtraSmall;
		}

		.visitors,
		.visitors-header {
			display: none;
		}

		td,
		th {
			min-width: 52px;
		}
	}

	@media screen and (max-width: 768px) {
		.cohort-item-root {
			.retention {
				display: none;
			}
		}
	}
}

.cohort-item-popover {
	font-size: $fontSizeSmall;

	.period {
		font-weight: $fontWeightBold;
		margin-right: 32px;
	}
}
