.column-view-root {
	.breadcrumb {
		margin: 0 16px;
	}

	.column-view-container {
		display: flex;
		overflow: auto;

		.column-view-pane {
			border-right: 1px solid $mainLighten74;
			flex: 1;
			height: 320px;
			min-width: 33.333%;
			overflow: auto;
			padding: 0;

			&:last-child {
				border-width: 0;
			}

			.expand-icon {
				height: 100%;
				margin: 0;
			}
		}

		.column-view-item {
			border-left-width: 0;
			border-right-width: 0;

			&.expandable {
				cursor: pointer;
			}

			&.expanded {
				background-color: $lightBackground;
			}
		}
	}
}