.composed-chart-with-empty-state {
	position: relative;

	&--show {
		.no-results-root {
			bottom: 0;
			left: 0;
			margin: auto;
			position: absolute;
			right: 0;
			top: 0;
		}
	
		.recharts-cartesian-grid-horizontal
			line:not(:last-child):not(:first-child) {
			stroke-opacity: 0;
		}
	}
}