.create-mapping-modal-root {
	.modal-content {
		overflow: visible;
	}

	.form-group {
		padding: 40px 24px;

		div:first-child {
			flex: 1;
			margin-right: 18px;
		}

		label {
			justify-content: flex-start;
		}

		.searchable-select-root {
			width: 172px;

			.dropdown-toggle {
				display: flex;
				justify-content: space-between;
			}
		}
	}
}