.csv-root {
	.header-content {
		color: $main;
	}

	.wizard {
		margin-bottom: 52px;

		.form-navigation-root {
			display: flex;

			.cancel {
				margin-left: auto;
				margin-right: 16px;
			}
		}
	}
}