.data-transformation-root {
	.add-custom-field {
		align-items: center;
		background: $primaryLighten45;
		display: flex;
		justify-content: space-between;
		padding: 24px;
	}

	.summary-section {
		padding-bottom: 24px;

		.summary {
			align-items: center;
			display: flex;

			.icon-root {
				margin: 0 8px;
			}
		}
	}
}