.data-transformation-list-root {
	&.read-only {
		border-width: 0;

		.data-transformation-header {
			.right {
				margin-right: 0;
			}
		}
	}

	.data-transformation-header {
		border-bottom: 1px solid $mainLighten74;
		border-top: 1px solid $mainLighten74;
		color: $mainLighten28;
		display: flex;
		font-size: $fontSizeSmall;
		margin-bottom: 16px;
		padding: 12px 24px;

		.left {
			margin-right: 24.5px;
			width: 100%;
		}

		.right {
			flex-shrink: 1;
			margin-left: 24.5px;
			margin-right: 74px;
			width: 100%;
		}
	}

	.data-transformation-item-root {
		border-bottom: 1px solid $lightBackground;
		padding: 0 24px;

		&.hidden {
			display: none;
		}

		&.error {
			.icon-root.help {
				color: $error;
			}

			.suggestion .dropdown-toggle {
				background-color: $errorLighten50;
				border-color: $errorLighten28;
			}
		}

		.form-group-item {
			margin-bottom: 8px;

			&.add-on {
				align-items: center;
				height: 40px;
				justify-content: center;
			}

			.example-value {
				align-items: flex-start;
				color: $mainLighten28;
				font-size: $fontSizeExtraSmall;
				overflow: hidden;
				padding: 4px 0;
			}
		}

		.help {
			color: $info;
		}
	}
}