.data-source-base-page-root {
	.liferay-data-source-status-root {
		color: $mainLighten28;

		.panel-body {
			background-color: $secondaryHover;
			font-size: $fontSizeSmall;
		}
	}

	.page-container {
		display: grid;
		grid-column-gap: $gridGap;
		grid-row-gap: $gridGap;
		grid-template-columns: minmax($liferayDataSourceCardMainMinWidth, 2fr) minmax($liferayDataSourceCardSideMinWidth, 1fr);

		.content-main {
			margin-bottom: $gridGap;
		}
	}

	@media screen and (max-width: $sidebarOpenWidth
	+ $liferayDataSourceCardMainMinWidth
	+ $gridGap
	+ $liferayDataSourceCardSideMinWidth
	+ ($pagePadding * 2)) {
		.page-container {
			display: block;
			margin-bottom: $gridGap;
		}
	}
}