.date-interval-selector-root {
	&.button-root {
		border: 1px solid $mainLighten65;
		border-radius: 4px;
		color: $main;
		display: flex;

		&.active {
			background-color: $primaryLighten45;
			border-color: $primaryLighten23;
		}

		.button-label-separator {
			color: $mainLighten65;
			margin: 0 8px;
		}

		.icon-container, .label-container {
			padding: 4px 12px;
		}

		.interval-label {
			color: $mainLighten28;
		}

		.label-container {
			border-right: 1px solid $mainLighten65;
			flex-grow: 1;
		}
	}

	.date-interval-selector-content {
		display: flex;
	}

	.date-picker-container {
		border-left: 1px solid $mainLighten74;
		padding-left: 12px;
	}

	.interval-container {
		padding-right: 12px;

		.dropdown-root {
			min-width: 168px;
		}
	}
}