.date-picker-root {
	display: inline-block;
	position: relative;
	width: 328px;

	&.disabled:before {
		background: $white;
		bottom: 0;
		content: '';
		cursor: not-allowed;
		left: 0;
		opacity: 0.4;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 10;
	}

	.controls {
		align-items: center;
		display: flex;
		justify-content: flex-end;
		margin-bottom: 16px;

		.button-root {
			border-width: 0;
			margin-left: 8px;
		}

		.current-day-btn {
			font-size: 24px;
		}

		.month-toggle-wrapper {
			display: flex;
			flex-grow: 1;

			.button-root {
				margin-left: 0;
			}
		}
	}

	.picker-header {
		margin: -12px -12px 0;
		padding: 12px 24px 0;

		&--border {
			border-bottom: 1px solid $mainLighten74;
			margin-bottom: 12px;
			padding-bottom: 12px;
		}
	}

	.picker-body {
		display: flex;
		justify-content: center;
	}

	.range-warning {
		align-items: center;
		color: $error;
		display: flex;
		font-weight: $fontWeightSemiBold;
		justify-content: center;
		padding-top: 8px;

		.icon-root {
			margin-right: 8px;
		}
	}
}
