.data-source-base-tabs-root {
	.form-root {
		.sheet-section {
			> div:first-of-type {
				margin-bottom: 16px;
			}
		}

		.form-actions {
			margin-top: 72px;
		}
	}

	.nav-root.nav-underline {
		margin: 8px 0 24px;

		.nav-item .nav-link {
			align-items: center;
			display: flex;
			margin: 0;
			padding: 16px;
			text-transform: uppercase;

			&.active {
				background-color: $lightBackground;
			}

			.h4,
			h4 {
				font-size: $fontSizeSmall;
				margin-bottom: 0;
			}

			.sticker-root {
				background-color: $primaryDarken10;
				font-size: $fontSizeSmall;
				height: 17px;
				line-height: 17px;
				margin-left: 8px;
				width: 17px;
			}
		}
	}
}