.data-source-clear-data-root {
	.page-container {
		display: grid;
		grid-column-gap: $gridGap;
		grid-row-gap: $gridGap;
		grid-template-columns: minmax($liferayDataSourceCardMainMinWidth, 2fr) minmax($liferayDataSourceCardSideMinWidth, 1fr);

		.content-main {
			margin-bottom: $gridGap;
		}
	}
}