.date-input-root {
	&.has-error {
		.form-control[readonly],
		.input-group-inset[readonly] ~ .input-group-inset-item {
			background-color: $errorLighten50;
		}
	}

	&.has-success {
		.form-control[readonly],
		.input-group-inset[readonly] ~ .input-group-inset-item {
			background-color: $successLighten63;
		}
	}

	.form-control[readonly],
	.input-group-inset[readonly] ~ .input-group-inset-item {
		background-color: $lightBackground;
		cursor: pointer;
	}
}