.delete-data-source-root {
	.copy-container {
		margin-bottom: 24px;
		margin-top: 16px;

		.copy-text {
			color: $secondary;
			font-weight: $fontWeightRegular;
			white-space: pre-wrap;
			word-break: break-all;
		}
	}

	.delete-button {
		margin-right: 24px;
	}

	.entity-item {
		border-bottom: 1px solid $mainLighten74;
		padding: 24px;

		.secondary-info {
			color: $secondary;
			font-size: $fontSizeSmall;
		}

		.title {
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.sheet-body {
		margin-top: 20px;
	}
}