.distribution-card-root {
	.add-property-form-root {
		.context-select {
			font-size: $fontSizeSmall;
		}

		.description {
			margin-bottom: 32px;

			> p {
				color: $mainLighten28;
			}
		}

		.form-navigation {
			> .button-root {
				margin-right: 12px;
			}
		}
	}

	.tabs-root {
		padding: 4px;

		.add-tab {
			margin-left: 40px;

			.active {
				border-color: transparent;
			}
		}

		ul {
			margin: 0;
			padding: 4px;

			.tab-item {
				border-bottom: 4px solid transparent;
				color: $mainLighten28;
				font-size: 18px;
				font-weight: $fontWeightSemiBold;
				list-style: none;

				&.active {
					border-bottom: 4px solid $primary;
					color: $primary;
				}

				> .tab-title {
					color: $mainLighten28;
					padding: 8px 40px 4px 8px;
					white-space: nowrap;

					&.active {
						color: $main;
						position: relative;

						.remove-tab {
							position: absolute;
							right: 8px;
						}
					}
				}
			}
		}
	}

	.chart-container {
		min-height: 40px;
		position: relative;
	}

	.chart-root {
		.tick {
			tspan {
				font-size: $fontSizeSmall;
			}
		}
	}
}