.dnd-table-root {
	width: 100%;

	.table-row {
		&.dragging:hover {
			color: $secondary;
		}

		&.hover-bottom td {
			box-shadow: inset 0 -2px 0 0 $primary, inset 0 1px $mainLighten74;

			&:first-child {
				box-shadow: inset 0 -2px $primary, inset 0 1px $mainLighten74,
					inset 1px 0 $mainLighten74;
			}

			&:last-child {
				box-shadow: inset 0 -2px $primary, inset 0 1px $mainLighten74,
					inset -1px 0 $mainLighten74;
			}
		}

		&.hover-bottom,
		.hover-top {
			td {
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}
		}

		&.hover-top td {
			box-shadow: 0 -2px 0 0 $primary, inset 0 1px $mainLighten74;

			&:first-child {
				box-shadow: 0 -2px $primary, inset 0 1px $mainLighten74,
					inset 1px 0 $mainLighten74;
			}

			&:last-child {
				box-shadow: 0 -2px $primary, inset 0 1px $mainLighten74,
					inset -1px 0 $mainLighten74;
			}
		}

		.drag-handle {
			cursor: grab;
		}
	}
}