.entity-list-root {
	position: relative;

	.list-group {
		box-shadow: none;
	}

	.list-group-item {
		padding: 16px;

		&:hover {
			background: $primaryLighten45;
		}
	}

	.list-group-item, .list-group-header {
		border-left-width: 0;
		border-radius: 0;
		border-right-width: 0;

		.list-group-link, .secondary-info {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	.list-group-header {
		background-color: $mainLighten74;
		font-size: 12px;
		font-weight: 600;
		line-height: 16px;
		padding: 8px 24px;
		text-transform: uppercase;

		.flex-col:first-child {
			text-transform: uppercase;
		}
	}

	.status-overlay {
		align-items: center;
		bottom: 0;
		display: flex;
		justify-content: center;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
}