.error-page-root {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding-top: 120px;

	> h1 {
		color: $mainLighten65;
		font-size: $fontSizeErrorCode;
		margin-bottom: 32px;
	}

	> div {
		margin-bottom: 20px;
	}
}