.file-drop-target-root {
	display: flex;
	height: 200px;
	justify-content: center;

	.drop-target-container {
		align-items: center;
		background-color: $lightBackground;
		border: 2px dashed $mainLighten28;
		border-radius: 4px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;

		&.file-over {
			background-color: $primaryLighten45;
			border: 2px solid $primaryDarken10;
		}

		.drop-zone {
			color: $mainLighten28;
			font-weight: $fontWeightSemiBold;
			margin-top: 8px;
		}
	}

	.choose-file {
		display: flex;
		margin-bottom: 8px;

		.button-root {
			margin-left: 4px;
			padding: 0;
		}
	}

	.uploaded-file {
		width: 100%;

		.error-message {
			color: $error;
		}

		.file-name {
			color: $secondary;
			font-weight: $fontWeightSemiBold;

			&.completed {
				color: $main;
			}
		}

		.file-size {
			margin-right: 8px;
		}

		.status-wrapper {
			margin-left: 8px;
		}
	}
}