$c: '.analytics-geomap';

#{$c} {
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 100%;

	.geomap-container {
		position: relative;
	}

	.no-results-root {
		margin-top: 62px;
	}

	#{$c}-table {
		border-collapse: collapse;
		color: $secondary;
		font-size: $font-size-sm;
		margin-top: 12px;
		max-width: 300px;
		width: 58%;

		td {
			padding: 3px 0;
		}

		.other {
			color: $mainLighten52;
		}

		.lighten-item {
			opacity: 0.4;
		}
	}

	.bb-tooltip-container:after {
		@include tooltip-arrow-bottom;
	}
}