.heatmap-chart-root {
	align-items: center;
	display: flex;
	flex-direction: column;

	.heatmap-chart {
		.axis {
			color: $secondary;
			font-size: $fontSizeExtraSmall;
			font-weight: $fontWeightSemiBold;
		}

		> svg {
			height: 100%;
			width: 100%;
		}
	}

	.heatmap-legend {
		.legend-label {
			color: $main;
			font-size: $fontSizeExtraSmall;
			text-anchor: middle;
		}
	}
}