$c: '.analytics-header';

#{$c} {
	align-items: center;
	background-color: $white;
	display: flex;

	#{$c}-subtitle {
		color: $header-subtitle-color;
		font-weight: $header-subtitle-font-weight;
	}

	#{$c}-title {
		font-size: $header-title-font-size;
		font-weight: $header-title-font-weight;
		line-height: 2rem;
	}

	#{$c}-title-container {
		padding: 36px 0 12px;

		&:only-child {
			padding: 1.5rem 0;
		}

		&.nav-breadcrumbs {
			padding-top: 18px;
		}
	}

	#{$c}-subtitle, #{$c}-title {
		display: inline-block;
	}

	#{$c}-url {
		line-height: 1.8rem;
		max-width: 40%;
	}

	.navbar {
		border-bottom-width: 0;
	}
}