.individual-details-card-root {
	.avatar-root {
		margin: 0 0 12px 0;
	}

	.email, .first-seen, .job-title {
		color: $mainLighten28;
		font-size: $fontSizeSmall;
	}

	.first-seen, .job-title {
		font-weight: $fontWeightSemiBold;
	}

	.first-seen {
		margin-top: 8px;
	}
}