.info-card-root {
	$termNameWidth: 160px;

	.image-container {
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		height: 100px;
		margin: 0 auto 16px;
		width: 80%;
	}

	.term {
		display: flex;
		padding: 8px 0;

		&.header {
			font-weight: bold;
		}

		> dt,
		> dd {
			display: inline-block;
		}

		> dt {
			color: $mainLighten28;
			font-weight: $fontWeightRegular;
			min-width: $termNameWidth;
		}

		> dd {
			font-weight: $fontWeightSemiBold;
			margin-bottom: 0;
		}
	}

	.term-list {
		margin-bottom: 0;
	}
}