.input-list-root {
	&.disabled {
		input {
			border-color: $lightBackground;
			color: $mainLighten52;
			cursor: not-allowed;
		}
	}

	.form-feedback-group {
		.form-feedback-indicator {
			font-size: 16px;
			margin-right: 8px;
		}
	}

	.close {
		margin-bottom: 0.125rem;
		margin-top: 0.125rem;
		padding-left: 0;
		padding-right: 0;
	}
}
