.instances-list-root {
	.instance-list-item-root {
		color: $main;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 12px;

		.connector-actions {
			align-items: flex-end;
			display: flex;
			flex-direction: column;

			.button-root {
				margin-bottom: 8px;
			}

			a {
				text-align: right;
			}
		}

		.details {
			margin-top: 12px;

			.icon-root {
				color: $warning;
				margin-left: 4px;
			}
		}

		.title {
			color: $main;
		}
	}
}