.interval-selector-root {
	.interval-option {
		padding: 8px 12px;

		&.btn-secondary:not(.disabled).active {
			background-color: $mainLighten74;
			color: $secondary;

			&:focus {
				box-shadow: none;
			}
		}
	}
}