.label-root {
	&.label-dismissible {
		.close {
			height: auto;

			.icon-root {
				font-size: 8px;
			}
		}
	}

	&.label-uppercase {
		text-transform: uppercase;
	}

	.info {
		color: $mainLighten28;
		margin-left: 4px;
	}
}
