$c-assets: '.analytics-assets-list';
$c-list: '.analytics-list';
$c-touchpoints: '.analytics-touchpoints-list';

#{$c-assets},
#{$c-touchpoints} {
	max-height: 470px;
	overflow: auto;

 	.table-root {
 		margin-bottom: 0;
	}
	
	p {
		color: $secondary;
		padding-top: 16px;
		text-align: center;
	}
}

#{$c-list}-card {
	.empty-list {
		h1 {
			font-size: $fontSizeMedium;
		}
	}
}