.loading-modal-root {
	.icon-root {
		opacity: 0.6;
	}

	.message {
		text-align: center;
	}

	.modal-content {
		align-items: center;
		display: flex;
		padding: 20px;
	}

	.title {
		font-size: 20px;
		margin: 16px 0;
		opacity: 0.6;
	}
}