.manually-retrain-model-modal-root {
	.description {
		margin-bottom: 12px;
	}

	.training-allowance {
		.title {
			font-size: $fontSizeMedium;
			font-weight: $fontWeightSemiBold;
			margin-bottom: 8px;
		}

		.count {
			font-weight: $fontWeightSemiBold;
			margin-left: 12px;
		}
	}
}
