.matching-pages-modal-root {
	.include-exclude {
		font-weight: $fontWeightSemiBold;
	}

	.include-exclude,
	.metadata-tag-root {
		margin-right: 8px;
	}

	.include-exclude,
	.rule,
	.secondary-info {
		color: $mainLighten28;
	}

	.modal-body {
		margin-top: 24px;
	}
}