$c: '.analytics-stats-card';

#{$c} {
	height: $baseline * 16;
	padding: 1rem;
	transition: all 0.1s ease-in-out;

	&#{$c}-is-active {
		opacity: 1;

		#{$c}-title {
			color: $main;
			font-weight: $fontWeightSemiBold;
		}

		#{$c}-value {
			color: $main;
			font-weight: $fontWeightRegular;
		}
	}

	#{$c}-value {
		color: $secondary;
		font-size: 32px;
		font-weight: $fontWeightSemiBold;
		height: $baseline * 8;
		margin: 0;
	}

	#{$c}-negative {
		color: $error;
	}

	#{$c}-title {
		color: $secondary;
		font-weight: $fontWeightSemiBold;
	}

	.metric-value {
		font-weight: $fontWeightSemiBold;
	}

	.metric-value-letter {
		font-size: $fontSizeSmall;
	}

	.nav-link.active:after {
		height: 4px;
	}
}