.metric-bar-root {
	background: $mainLighten74;
	border-radius: 4px;
	overflow: hidden;
	position: relative;

	.bar {
		border-bottom-left-radius: 4px;
		border-top-left-radius: 4px;
		height: 1.2rem;

		&.bar-danger {
			background: $error;
		}

		&.bar-primary {
			background: $primary;
		}

		&.bar-sm {
			height: 0.8rem;
		}

		&.bar-md {
			height: 2rem;
		}

		&.bar-lg {
			height: 3rem;
		}

		&.bar-warning {
			background: $warning;
		}

		&.bar-xs {
			height: 0.5rem;
		}
	}

	.info-wrapper {
		bottom: 0;
		left: 16px;
		position: absolute;
		right: 16px;
		top: 0;
	}
}