$c: '.analytics-metrics';
$tc: '.analytics-tooltip-chart';

#{$c}-card .card-content-center {
	padding-top: 0;
}

#{$c} {
	width: 100%;

	#{$c}-btn {
		background-color: transparent;
		border-width: 0;
		cursor: pointer;
		padding: 0;
		text-align: left;
		transition: all 0.1s ease-in-out;
		width: 100%;

		&#{$c}-btn:focus {
			outline: 0;
		}
	}

	#{$c}-chart {
		min-height: 340px;

		.recharts-label {
			fill: $mainLighten28;
			font-size: $fontSizeExtraSmall;
			font-weight: $fontWeightRegular;
		}

		> .chart-root {
			margin-bottom: 0;
		}
	}

	#{$c}-chart-sub-content-wrapper {
		display: flex;
		justify-content: space-between;

		.custom-checkbox {
			label {
				color: $secondary;
			}
		}
	}

	#{$c}-tabs {
		display: flex;
		margin: 0 0 32px;
		padding: 0;
	}

	#{$c}-tabs li {
		list-style: none;
		min-width: 144px;

		.button-root {
			width: 100%;
		}
	}

	#{$tc}-content {
		&.font-weight-normal {
			color: $secondary;
		}

		&.font-weight-semibold {
			color: $main;
		}
	}

	.bb-axis-x {
		transform: translateY(271px);
	}

	.bb-line-data-previous {
		stroke-width: 2px;
	}

	.chart-root svg .bb-circles .bb-circle._expanded_ {
		fill: $chartBlue !important;
	}
}

// Min height to Custom Assets Metric Card

.analytics-custom-metrics-card #{$c}-chart {
	min-height: 436px;

	.bb-axis-x {
		transform: translateY(365px);
	}
}