.modal-container {
	.modal-body {
		border-top: none;
	}

	.modal-footer,
	.modal-header {
		&:not(.border) {
			border-width: 0;
		}
	}

	.modal-footer {
		justify-content: flex-end;
	}

	.modal-header {
		.modal-title-indicator {
			margin-right: 8px;
		}
	}

	.modal-success,
	.modal-warning {
		.modal-body {
			padding-top: 24px;
		}
	}

	.modal-xl {
		max-width: 912px;
	}

	.modal-xxl {
		max-width: 1120px;
	}
}
