.modal-info-bar-root {
	background-color: $mainLighten74;
	color: $mainLighten28;
	display: flex;
	font-size: 12px;
	font-weight: 600;
	justify-content: flex-end;
	padding: 0 28px;
	text-transform: capitalize;
}