.new-rule-modal-root {
	.exact-match {
		.exact-match-help-icon {
			color: $mainLighten28;
			margin-left: 8px;
		}
	}

	.find-matches-button-container {
		margin-left: 12px;
	}

	.results {
		margin-top: 20px;
	}

	.secondary-info {
		color: $mainLighten28;
	}

	.strings-matching-input-container {
		.strings-matching-title {
			font-weight: $fontWeightSemiBold;
			margin-right: 4px;
		}
	}

	.title {
		font-size: $fontSizeMedium;
		font-weight: $fontWeightSemiBold;
	}
}