.new-request-modal-root {
	.checkbox-label .text-secondary {
		font-weight: $fontWeightRegular;
	}

	.example-file-text {
		margin-top: 8px;
	}

	.form-group-item {
		margin-left: 8px;

		.custom-control {
			margin-bottom: 4px;

			&.custom-radio {
				margin-top: 12px;
			}
		}
	}

	.radio-group-subsection-root {
		&.hide {
			display: none;
		}
	}
}