.oauth-form-root {
	.authorization {
		.button-root {
			margin-right: 12px;
		}

		.authorization-info {
			font-size: $fontSizeSmall;

			.icon-root {
				fill: $mainLighten65;
				margin-right: 8px;

				&.invalid {
					fill: $error;
				}

				&.success {
					fill: $success;
				}
			}
		}
	}

	.callback-url {
		align-items: center;
		display: flex;

		pre {
			margin-bottom: 0;
			margin-left: 8px;
		}
	}

	.input-root[disabled] {
		background-color: $lightBackground;
		border-color: $lightBackground;
		color: $mainLighten52;
		cursor: not-allowed;
	}

	.oauth-owner {
		align-items: center;
		display: flex;
		flex-direction: row;

		&.disabled {
			.email-address, .name {
				color: $mainLighten52;
			}
		}

		> em {
			font-size: $fontSizeSmall;
		}

		.button-root {
			padding: 4px;
		}

		.email-address, .name {
			font-size: $fontSizeSmall;
			font-weight: $fontWeightSemiBold;
			line-height: 24px;
			margin-right: 64px;
		}

		.email-address {
			color: $mainLighten28;
		}

		.name {
			color: $main;
		}
	}

	.submit {
		margin-right: 12px;
	}
}