.overview-usage-metric-root {
	&:not(:last-of-type) {
		margin-bottom: 40px;
	}

	.metric-breakdown {
		align-items: center;
		display: flex;
		margin-bottom: 12px;
	}

	.metric-breakdown-content {
		margin-left: 16px;

		.metric-current {
			font-size: $fontSizeExtraLarge;
			font-weight: $fontWeightBold;
		}

		.metric-limit {
			font-size: $fontSizeMedium;
			font-weight: $fontWeightSemiBold;
		}
	}

	.metric-definition {
		font-size: $fontSizeSmall;
	}

	.metric-name {
		color: $mainLighten28;
		font-weight: $fontWeightBold;
		text-transform: capitalize;
	}
}