$c: '.analytics-popover';
$tooltip-arrow-size: 6px;

#{$c} {
	&.hide {
		display: none;
		visibility: visible;
	}

	&.no-content .popover-header {
		border-width: 0;
	}

	&.popover-background-dark {
		background-color: $main;

		.arrow::after {
			border-top-color: $main;
		}

		.text-secondary {
			color: $white !important;
		}
	}

	&.popover-normal .popover-header {
		font-weight: $fontWeightRegular;
	}

	&.popover-large {
		max-width: 30rem;
	}

	&.clay-popover-top {
		transform: translateY(-#{$tooltip-arrow-size});
	}

	&.clay-popover-right {
		transform: translateX($tooltip-arrow-size);
	}

	&.clay-popover-bottom {
		transform: translateY($tooltip-arrow-size);
	}

	&.clay-popover-left {
		transform: translateX(-#{$tooltip-arrow-size});
	}
}
