.recent-data-sources-root {
	> ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	.item {
		display: flex;
		margin-bottom: 8px;
		margin-top: 8px;

		> .type {
			margin-right: 12px;
			padding: 4px;
		}

		.details {
			overflow-x: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;

			> a {
				color: $main;
				font-size: $fontSizeMedium;
				font-weight: $fontWeightSemiBold;
			}

			.secondary-details {
				font-size: $fontSizeSmall;
			}
		}
	}
}