.relative-metric-bar-root {
	.metric-bar-root {
		border-radius: 0 4px 4px 0;

		.bar {
			background-color: $chartSeaGreen;
			border-radius: 0 4px 4px 0;
		}

		.count, .title {
			font-weight: $fontWeightSemiBold;
		}

		.title:not(:last-child) {
			margin-right: 16px;
		}
	}
}