.searchable-modal-root {
	.items-header {
		background: $mainLighten74;
		display: flex;
		font-size: 12px;
		font-weight: 600;
		justify-content: flex-end;
		padding: 0 28px;
		text-transform: uppercase;
	}

	.list-group-root .list-group-item {
		border-left-width: 0;
		border-right-width: 0;
	}

	.load-more-container {
		padding: 20px;
		text-align: center;
	}

	.scroll-container {
		height: 480px;
		overflow-y: scroll;

		&.fit-content {
			height: auto;
		}
	}
}