.search-input-list-root {
	&.disabled {
		cursor: not-allowed;

		.form-control {
			pointer-events: none;

			.label-root {
				color: $mainLighten52;
			}
		}
	}

	.form-control {
		padding: 4px 12px;

		.base-select-input-root {
			min-width: 200px;
			width: auto;
		}
	}
}