.searchable-select-root {
	.dropdown-menu {
		overflow: hidden;
		width: 300px;

		.dropdown-item {
			white-space: nowrap;
		}

		.items-wrapper {
			max-height: 280px;
			overflow-y: auto;
			padding: 0;
		}
	}
}