.query-card-root {
    width: 70%;

    .form-inline {
        .button-root {
            align-self: baseline;
        }

        .query-input {
            input {
                min-width: 400px;
            }
        }
    }
}
