.searchable-list-root {
	.navbar-root.toolbar {
		margin-bottom: 36px;

		.dropdown-root {
			margin-right: 36px;
		}
	}

	.list-group-item-flex {
		background-color: transparent;
		border-color: $mainLighten74;
		border-style: solid;
		border-width: 0 0 2px;
		margin-bottom: 0;

		&:not(.list-group-header) {
			cursor: pointer;
		}

		&.list-group-header {
			border-color: $main;
			border-width: 0 0 1px;
			font-weight: 600;
			text-transform: uppercase;

			&, .flex-col {
				padding: 0;
			}
		}

		.breadcrumbs-root {
			margin: 0;
			padding: 0;
		}
	}

	.pagination-bar-root .container-fluid {
		padding: 0;
	}
}