.section-root {
	padding: 20px 8px;

	.footer {
		align-items: center;
		display: flex;
		justify-content: flex-end;
		padding: 12px 0;

		.button-root {
			color: $mainLighten28;
			font-size: $fontSizeSmall;
			font-weight: $fontWeightSemiBold;
			padding: 0;

			.icon-root {
				margin-left: 4px;
				width: 10px;
			}
		}
	}

	.header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 24px;

		.title {
			font-size: $fontSizeMedium;
			font-weight: $fontWeightBold;
		}

		.warning {
			align-items: center;
			color: $warning;
			display: flex;
			font-size: $fontSizeSmall;

			> .icon-root {
				margin-right: 4px;
			}
		}
	}

	.secondary-info {
		font-size: $fontSizeExtraSmall;
		margin-bottom: 16px;
	}
}