.segment-growth-root {
	.chart-legend,
	.segment-growth-chart-container {
		padding: 0 $listPadding;

		.composed-chart-with-empty-state .no-results-root {
			transform: translateY(30px);
		}
	}

	.searchable-table-root .management-bar .navbar-form {
		padding: 0;
	}

	.searchable-table-root .membership-operation {
		margin-left: 32px;
		vertical-align: baseline;
	}

	.selected-point-info {
		padding: 0 $listPadding;

		> .button-root {
			font-size: $fontSizeSmall;
			margin-left: 8px;
			padding: 0;
		}

		.h4,
		h4 {
			color: $mainLighten28;
			line-height: 24px;
		}

		> div {
			font-size: $fontSizeSmall;
			line-height: 18px;
			margin-top: 4px;

			> b {
				margin-right: 12px;
			}
		}
	}
}
