.segment-overview-root {
	.composition-card-root {
		flex-shrink: 0;

		.composition-chart-root {
			align-items: center;
			display: flex;

			.chart-root {
				width: 30%;
			}

			.legend-template {
				margin-bottom: 0;
				padding: 0;
				width: 70%;

				.legend-color {
					height: 8px;
					margin: 7px 7px 0 0;
					width: 8px;
				}

				.legend-template-column {
					font-size: $fontSizeSmall;
				}

				li {
					&:not(:last-child) {
						padding-bottom: 1rem;
					}
				}
			}
		}
	}

	.overview-column-side {
		display: flex;
		flex-direction: column;
		max-height: calc(100vh - $profileHeaderMargin);
		position: sticky;
		top: $profileHeaderMargin;
		transition: max-height 0.2s;

		.segment-composition-card {
			flex-shrink: 0;
		}
	}
}
