.segment-distribution-root {
	.chart-options {
		.chart-options-bins-input {
			width: 100px;
		}

		.form-control-label {
			font-size: $fontSizeSmall;
		}
	}

	.chart-container {
		align-items: center;
		display: flex;
		justify-content: center;
		position: relative;

		.chart-root {
			.bb-tooltip {
				text-transform: capitalize;
			}

			.tick {
				tspan {
					font-size: $fontSizeSmall;
					text-transform: capitalize;
				}
			}
		}
	}

	.collapsible-overlay-root {
		.distribution-name {
			color: $main;
		}

		.header {
			color: $mainLighten28;
		}
	}

	.context-select {
		font-size: $fontSizeSmall;
	}

	.searchable-table-root .management-bar .navbar-form {
		padding: 0;
	}

	.selected-value-summary {
		color: $mainLighten28;

		.summary-stat {
			font-size: $fontSizeSmall;
			margin-right: 12px;
		}
	}

	.stat-value {
		color: $main;
		font-weight: $fontWeightSemiBold;
	}
}
