.field-display-root {
	align-items: center;
	display: flex;
	max-width: 100%;

	.field-details {
		overflow: hidden;

		.name {
			font-size: $fontSizeSmall;
			line-height: 18px;
		}

		.type {
			color: $mainLighten52;
			font-size: 9px;
		}
	}

	.sticker-root {
		flex-shrink: 0;
		margin-right: 8px;
	}
}
