.select-input-root {
	position: relative;

	.selected-item-container {
		align-items: center;
		bottom: 0;
		display: flex;
		left: 0;
		padding: 2px 24px 2px 8px;
		position: absolute;
		right: 0;
		top: 0;
	}
}