.select-data-source-root {
	> .title {
		color: $main;
		font-size: $fontSizeSmall;
		font-weight: $fontWeightBold;
		line-height: 20px;
		margin-bottom: 18px;
	}

	.data-source-item {
		background-color: $white;
		border-radius: 4px;
		height: 250px;
		margin-bottom: 40px;
		margin-right: 24px;
		width: 300px;

		&:hover {
			box-shadow: 2px 4px 10px 0 $mainLighten74;
			cursor: pointer;
			text-decoration: none;
		}

		.image {
			align-items: center;
			display: flex;
			height: 180px;
			justify-content: center;
		}

		.details {
			border-top: 1px $mainLighten74 solid;
			padding: 12px 16px;
		}

		.subtitle {
			color: $mainLighten28;
			font-size: $fontSizeSmall;
			line-height: 20px;
		}

		.title {
			color: $main;
		}
	}

	.section-items {
		display: flex;
	}

	.section-title {
		color: $mainLighten28;
		margin-bottom: 28px;
	}
}