.select-items-modal-root {
	.list-group-root .list-group-item {
		border-left-width: 0;
		border-right-width: 0;
	}

	.load-more-container {
		padding: 20px;
		text-align: center;
	}

	.scroll-container {
		height: 380px;
		overflow-y: scroll;
	}
}