.setting-up-workspace-root {
	background-color: $white;
	min-height: 100vh;
	padding: 32px 0;

	.content-wrapper {
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		width: 80%;

		.error-display-root {
			margin-top: 32px;
		}

		.instruction {
			margin-bottom: 0.5rem;
		}

		.title {
			line-height: 1.6;
			margin-bottom: 1rem;
		}
	}

	.progress-bar-root {
		margin-top: 32px;
	}
}
