.sheet {
	padding: 0;

	&.page-display {
		min-height: 70vh;
	}

	.sheet-body,
	.sheet-footer,
	.sheet-header {
		padding-left: 24px;
		padding-right: 24px;
	}

	.sheet-footer {
		margin-bottom: 24px;
		margin-top: 24px;

		&.divider {
			border-top: 1px solid $mainLighten74;
			padding-top: 24px;
		}
	}

	.sheet-header {
		margin-top: 24px;

		&.divider {
			border-bottom: 1px solid $mainLighten74;
			padding-bottom: 24px;
		}
	}

	.sheet-section {
		&:last-child:not(.has-last-child-margin) {
			margin-bottom: 0;
		}
	}

	&:after {
		margin-top: 0;
	}
}
