.sites-synced-stripe-root {
	background-color: $info;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color: $white;
	padding: 24px;

	&.empty {
		background-color: $mainLighten28;
	}

	.title {
		font-size: $fontSizeLarge;
		font-weight: $fontWeightSemiBold;
		margin-bottom: 8px;
	}
}