.sites-dropdown-root {
	.dropdown-toggle {
		margin: 4px;
	}
}

.sites-dropdown-item {
	padding: 4px 16px;

	&:hover {
		.offsite-link-container {
			align-items: center;
			background-color: $primaryLighten45;
			display: flex;
		}
	}

	.secondary-info {
		font-size: $fontSizeExtraSmall;
		font-weight: $fontWeightRegular;
		line-height: 20px
	}

	.site-link {
		color: $main;
		font-weight: $fontWeightSemiBold;
		line-height: 24px;
	}

	.offsite-link-container {
		display: none;
		margin-left: 16px;
	}
}