$c: '.analytics-statistics-card';

#{$c} {
	height: 250px;

	#{$c}-percentage {
		font-size: $font-size-lg-5x;
	}

	#{$c}-total {
		font-size: $font-size-md;
	}

	#{$c}-percentage, #{$c}-total {
		text-align: center;
		width: 100%;
	}

	@include media-breakpoint-down(lg) {
		#{$c}-percentage {
			font-size: $font-size-lg-2x;
		}
	}

	@include media-breakpoint-down(md) {
		#{$c}-percentage {
			font-size: $font-size-lg-1x;
		}
	}

	@include media-breakpoint-down(sm) {
		#{$c}-percentage {
			font-size: $font-size-md-3x;
		}

		#{$c}-total {
			font-size: $font-size-sm-1x;
		}
	}

	@include media-breakpoint-down(xs) {
		#{$c}-percentage {
			font-size: $font-size-md;
		}
	}
}