.step-list-root {
	background-color: $white;
	border-radius: 4px;
	font-size: $fontSizeSmall;
	padding: 20px 24px;

	&.hide-bullets {
		ul {
			padding: 20px 0;

			li {
				list-style: none;
			}
		}
	}

	ul {
		padding: 20px;
	}
}