.sticker {
	$displays: (
		boolean: $fieldGreen,
		chartBlue: $chartBlue,
		chartLimeGreen: $chartLimeGreen,
		chartOrange: $chartOrange,
		chartRed: $chartRed,
		chartSeaGreen: $chartSeaGreen,
		date: $fieldPurple,
		number: $fieldLightBlue,
		point: $chartLimeGreen,
		secondary: $mainLighten74,
		string: $fieldDarkBlue
	);

	@each $name, $color in $displays {
		&.sticker-#{$name} {
			background-color: $color;
			color: $main;
		}
	}

	&.sticker-xs {
		height: 12px;
		width: 12px;
	}

	&.sticker-xxl {
		font-size: 24px;
		height: 72px;
		line-height: 72px;
		width: 72px;

		.icon-root {
			font-size: 2rem;
		}
	}
}
