.sync-contacts-root {
	.sheet-section {
		margin-left: 40px;
		margin-right: 40px;

		.list-group-root {
			margin-top: 20px;
		}

		.secondary-text {
			color: $mainLighten28;
			font-size: $fontSizeSmall;
		}

		.section-title {
			font-weight: $fontWeightBold;

			.label-root {
				margin-left: 16px;
			}
		}

		.total-sync-info {
			font-size: $fontSizeExtraSmall;
			margin-top: 20px;

			.total-unique {
				font-weight: $fontWeightBold;
				text-transform: uppercase;
			}
		}
	}

	.sync-item-root {
		.sticker-root.has-selection {
			background: $primaryLighten45;

			.icon-root {
				fill: $primary;
			}
		}
	}
}