.timeline-root {
	display: flex;
	justify-content: center;
	position: relative;
	width: 100%;
	z-index: 1;

	.bar {
		align-self: flex-end;
		background: $mainLighten74;
		height: 6px;
		max-width: 120px;
		position: relative;
		top: -13px;
		width: 100%;
		z-index: -1;

		&.filled {
			background: $mainLighten28;
		}
	}

	.step {
		flex-shrink: 0;
		position: relative;

		&.active .circle {
			background: $primary;
			color: $white;
		}

		&.previous-step .circle {
			background: $mainLighten28;
			color: $white;
		}

		&:not(:last-child) {
			&.previous-step {
				.circle:after, .circle:before {
					background: $mainLighten28;
				}
			}

			.circle:after {
				background: $mainLighten74;
				bottom: 13px;
				content: '';
				height: 6px;
				left: 50%;
				position: absolute;
				width: 50%;
				z-index: -1;
			}
		}

		&:not(:first-child) {
			&.active .circle:before {
				background: $mainLighten28;
			}

			.circle:before {
				background: $mainLighten74;
				bottom: 13px;
				content: '';
				height: 6px;
				left: 0;
				position: absolute;
				width: 50%;
				z-index: -1;
			}
		}

		.circle {
			align-items: center;
			background: $mainLighten74;
			border-radius: 50%;
			color: $mainLighten28;
			display: flex;
			font-weight: $fontWeightSemiBold;
			height: 32px;
			justify-content: center;
			margin: 0 auto;
			width: 32px;
		}

		.title {
			color: $mainLighten28;
			font-size: $fontSizeSmall;
			font-weight: $fontWeightSemiBold;
			margin-bottom: 8px;
		}
	}
}