.time-selector-root {
	align-items: center;
	border-top: 1px solid $mainLighten74;
	color: $mainLighten28;
	display: flex;
	justify-content: flex-start;
	margin-top: 12px;
	padding: 12px 12px 4px;

	.icon-root, .input-root {
		margin-right: 24px;
	}

	.input-root {
		width: auto;
	}

	.time-zone {
		font-size: $fontSizeMedium;
		font-weight: $fontWeightSemiBold;
	}
}