.toggle-switch-modal-root {
	.modal-body {
		padding: 20px 24px;
	}

	.form-group, .toggle-all {
		margin: 0;
		padding: 10px 46px;
	}

	.form-group {
		&:last-child {
			margin-bottom: 54px;
		}

		.toggle-switch-root {
			margin: 0;

			.toggle-switch-handle {
				text-transform: none;
			}
		}
	}

	.toggle-all {
		background-color: $primaryLighten45;
		padding: 16px 46px;
	}
}