$c: '.analytics-tooltip-chart';

#{$c} {
	border-collapse: collapse;
	display: none;
	font-family: $font-family;
	margin: 12px;

	#{$c}-column {
		line-height: initial;
		padding: 0;
		padding-bottom: 0.5rem;
	}

	#{$c}-body #{$c}-content {
		min-height: 18px;
		position: relative;
		width: 100%;
	}

	#{$c}-truncated {
		@extend .text-truncate;
		position: absolute;
		width: 100%;
	}

	#{$c}-header {
		box-shadow: 0 1px 0 0 $mainLighten74;

		#{$c}-column {
			font-weight: $fontWeightSemiBold;
		}
	}

	#{$c}-body {
		#{$c}-row {
			color: $secondary;

			&:first-child #{$c}-column {
				padding-top: 0.5rem;
			}

			&:last-child #{$c}-column {
				padding-bottom: 0;
			}
		}
	}

	svg > path {
		fill: currentColor;
	}

	.text-left {
		align-items: center;
		display: flex;
		justify-content: flex-start;
	}

	.text-right {
		align-items: center;
		display: flex;
		justify-content: flex-end;
	}

	.circle {
		display: inline-flex;
	}
}