$slideUpDuration: 150ms;
$slideUpLength: 8px;

/* ---------- Carousel group ---------- */
@keyframes delay-overflow {
	from {
		overflow: hidden;
	}
}

.transition-carousel-group {
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;

	&.show-overflow {
		animation: 1000ms delay-overflow;
		overflow: visible;
	}
}

/* ---------- Attribute carousel left ---------- */

.transition-attribute-carousel-left-enter {
	flex-shrink: 0;
	max-height: 0px;
	transform: translateX(100%);
}

.transition-attribute-carousel-left-enter-active {
	max-height: 400px;
	transform: translateX(0);
	transition: transform 250ms ease-in-out, max-height 250ms ease-in-out;
}

.transition-attribute-carousel-left-exit {
	flex-shrink: 0;
	max-height: 400px;
	transform: translateX(-100%);
}

.transition-attribute-carousel-left-exit-active {
	max-height: 0px;
	transform: translateX(0);
	transition: transform 250ms ease-in-out, max-height 250ms ease-in-out;
}

/* ---------- Carousel right ---------- */

.transition-attribute-carousel-right-enter {
	flex-shrink: 0;
	max-height: 0px;
	transform: translateX(-100%);
}

.transition-attribute-carousel-right-enter-active {
	max-height: 700px;
	transform: translateX(0);
	transition: transform 250ms ease-in-out, max-height 250ms ease-in-out;
}

.transition-attribute-carousel-right-exit {
	flex-shrink: 0;
	max-height: 700px;
	transform: translateX(-100%);
}

.transition-attribute-carousel-right-exit-active {
	max-height: 0px;
	transform: translateX(-200%);
	transition: transform 250ms ease-in-out, max-height 250ms ease-in-out;
}

/* ---------- Carousel slide in out right ---------- */

.transition-carousel-slide-in-out-right-enter {
	flex-shrink: 0;
	transform: translateX(-100%);
}

.transition-carousel-slide-in-out-right-enter-active {
	transform: translateX(0);
	transition: transform 250ms ease-in-out;
}

.transition-carousel-slide-in-out-right-exit {
	flex-shrink: 0;
	transform: translateX(-100%);
}

.transition-carousel-slide-in-out-right-exit-active {
	transform: translateX(0);
	transition: transform 250ms ease-in-out;
}

/* ---------- Carousel slide in out left ---------- */

.transition-carousel-slide-in-out-left-enter {
	flex-shrink: 0;
	transform: translateX(100%);
}

.transition-carousel-slide-in-out-left-enter-active {
	transform: translateX(0);
	transition: transform 250ms ease-in-out;
}

.transition-carousel-slide-in-out-left-exit {
	flex-shrink: 0;
	transform: translateX(-100%);
}

.transition-carousel-slide-in-out-left-exit-active {
	transform: translateX(-200%);
	transition: transform 250ms ease-in-out;
}

/* ---------- Fade in & out ---------- */

.transition-fade-in-out-enter {
	opacity: 0;
}

.transition-fade-in-out-enter.transition-fade-in-out-enter-active {
	opacity: 1;
	transition: opacity $slideUpDuration ease-in;
}

.transition-fade-in-out-exit {
	opacity: 1;
}

.transition-fade-in-out-exit.transition-fade-in-out-exit-active {
	opacity: 0;
	transition: opacity $slideUpDuration ease-in;
}

/* ---------- Slide up ---------- */

.transition-slide-up-appear,
.transition-slide-up-enter {
	opacity: 0;
	transform: translateY($slideUpLength);
}

.transition-slide-up-appear.transition-slide-up-appear-active,
.transition-slide-up-enter.transition-slide-up-enter-active {
	opacity: 1;
	transform: translateY(0);
	transition: opacity $slideUpDuration ease-in,
		transform $slideUpDuration ease-in;
}

.transition-slide-up-exit {
	opacity: 1;
	transform: translateY(0);
}

.transition-slide-up-exit.transition-slide-up-exit-active {
	opacity: 0;
	transform: translateY($slideUpLength);
	transition: opacity $slideUpDuration ease-in,
		transform $slideUpDuration ease-in;
}