.training-items-card-root {
	.total-training-urls {
		font-size: $fontSizeSmall;
		font-weight: $fontWeightSemiBold;
	}

	.total-training-urls,
	.training-item-root {
		padding: 16px 0;

		.button-root {
			margin-right: 8px;
		}

		&:last-child {
			padding-bottom: 0;
		}
	}

	.training-item-root {
		border-bottom: 1px solid $mainLighten74;
	}
}