.type-trend-root {
	display: flex;
	height: 100%;

	.trend-item-root {
		display: flex;
		flex-direction: column;
		width: 33%;

		.change {
			> .decrease {
				color: $chartRed;
			}

			> .increase {
				color: $success;
			}
		}

		.chart-root {
			margin-right: 1rem;
			width: 30%;

			.bb-xgrid-line line,
			.bb-ygrids line {
				stroke: none;
			}

			.bb-zoom-rect {
				stroke: none;
			}
		}

		&:not(:first-child) {
			border-left: 1px solid $mainLighten74;
			padding-left: 1.5rem;
		}

		&:not(:last-child) {
			padding-right: 1rem;
		}

		.total {
			font-size: $fontSizeExtraLarge;
			font-weight: $fontWeightBold;
			line-height: $fontSizeExtraLarge;
			margin-left: 1rem;
			word-break: break-word;
		}

		.trend-item-title {
			margin-bottom: 1rem;
		}
	}
}