.ui-kit-root {
	padding: 16px;

	.component-preview-container {
		padding: 16px;
	}

	.sidebar {
		border-right: 1px solid $mainLighten74;

		.active-item-header {
			background: $mainLighten28;
			color: white;
			padding: 16px;
		}

		.navbar-form {
			margin-bottom: 1rem;
		}

		.nav-root.nav-stacked .nav-item .nav-link {
			border-color: $mainLighten52;

			&:hover {
				border-color: $mainLighten28;
			}

			&.active {
				border-color: $primary;
			}
		}
	}
}