.analytics-variant-card {
	.analytics-bar-chart-html {
		margin-bottom: 4rem;

		&-header {
			height: 48px;
		}

		&-item {
			background: none;
		}

		&-progress > div {
			border-radius: 0;
		}
	}

	.lift {
		color: $success;
	}

	.loss {
		color: $error;
	}

	.traffic-quota {
		color: $mainLighten28;
	}

	.unique-visitors {
		color: $main;
		font-weight: $fontWeightSemiBold;
	}

	.variant-title {
		max-width: 260px;
	}
}
