.vertical-timeline-root-deprecated {
	width: 100%;

	.timeline-header {
		align-items: center;
		border-bottom: 1px solid $mainLighten74;
		border-top: 1px solid $mainLighten74;
		color: $mainLighten28;
		display: flex;
		font-size: $fontSizeSmall;
		padding: 8px 0;

		.header-count {
			margin-left: auto;
			padding-right: 56px;
		}

		.header-label {
			flex-basis: 10%;
			padding-left: 16px;
		}

		.header-title {
			padding-left: 40px;
		}
	}

	.timeline-item {
		.timeline-panel-body {
			.entity-link {
				margin-right: 4px;
			}

			.subtitle {
				font-size: $fontSizeSmall;
			}

			.title {
				font-weight: $fontWeightSemiBold;
				line-height: 1;
			}
		}
	}

	.timeline-nested {
		background-color: $white;
		padding: 16px 0;

		.timeline-increment > .sticker-point {
			height: 12px;
			width: 12px;
		}

		.timeline-item {
			background-color: $white;
			margin-left: 0;
			width: 100%;

			.timeline-panel-body {
				.subtitle {
					font-size: $fontSizeExtraSmall;
				}

				.title {
					font-size: $fontSizeSmall;
					line-height: 1;
				}
			}

			&.header:first-child {
				&:before {
					visibility: visible;
				}
			}
		}
	}

	.timeline-panel {
		background-color: transparent;
	}

	.timeline-panel-body {
		padding: 0;
		position: relative;

		.timeline-panel-body-content {
			align-items: center;
			display: flex;
			padding: 8px 40px;
			padding-left: 40px;

			.sticker-container + .timeline-panel-body-content-text {
				margin-left: 16px;
			}

			.timeline-panel-body-content-details {
				margin-left: auto;

				.icon-root {
					fill: $mainLighten28;
				}

				.item-count {
					font-size: $fontSizeSmall;
					margin-right: 16px;
				}
			}

			.timeline-panel-body-content-text {
				overflow-x: hidden;
			}

			&.selectable:hover {
				cursor: pointer;
			}
		}

		.subtitle {
			color: $mainLighten28;
			font-size: $fontSizeSmall;

			span:not(:first-child) {
				margin-left: 8px;
			}
		}

		.title {
			color: $main;
			font-size: $fontSizeMedium;

			a {
				color: $main;
				font-weight: $fontWeightSemiBold;
			}
		}
	}

	.timeline-item {
		background-color: $secondaryHover;
		margin-left: 96px;
		padding: 0;
		width: calc(100% - 96px);

		&.header {
			background-color: $white;

			.title {
				color: $mainLighten28;
				font-size: $fontSizeExtraSmall;
				font-weight: $fontWeightSemiBold;
			}
		}

		.timeline-item-label {
			color: $mainLighten28;
			left: 0;
			width: auto;
		}

		&:before {
			background-color: $mainLighten65;
			width: 2px;
		}

		&.header:first-child {
			&:before {
				visibility: hidden;
			}
		}
	}

	.timeline-increment {
		background-color: transparent;
		left: 1px;

		> .sticker-point {
			background-color: $chartBlue;
			border: 2px solid $white;
			height: 20px;
			width: 20px;
		}
	}
}
