.individuals-dashboard-overview-root {
	.enriched-profiles-card-root {
		&.inverted {
			background-color: $mainLighten8;
			color: $white;

			.btn {
				width: fit-content;
			}

			.card-title {
				color: $white;
				margin-bottom: 0.5rem;
			}
		}

		.error-spacer {
			margin: 0 auto;
		}
	}

	.type-trend-card-root {
		> .card-body {
			padding-top: 1rem;
		}
	}

	> .row:first-child .card-root {
		height: auto;

		@include media-breakpoint-up(xl) {
			height: 175px;
		}

		.description {
			margin-top: 1rem;
		}

		.total {
			font-size: $fontSizeExtraLarge;
			font-weight: $fontWeightBold;
			line-height: $fontSizeExtraLarge;
			word-break: break-word;
		}
	}
}
