.damage-summary-container {
	.list-title {
		color: rgba(39, 40, 51, 0.5);
		font-size: 0.875rem;
	}

	.vehicle-link-active {
		border-left: 5px solid #4c84ff !important;
		font-weight: 560;
		opacity: 1 !important;
	}

	.vehicle-link {
		border-left: 5px solid rgb(255, 255, 255);
		opacity: 0.7;
	}

	.vehicle-damage {
		img {
			height: 200px;
			max-width: 100%;
			width: 400px;
		}
	}
}

.damage-summary-container {
	@media screen and (max-width: 768px) {
		flex-direction: column !important;
		width: 100%;
	}
}

.container-right-side,
.container-left-side {
	@media screen and (max-width: 768px) {
		width: 100% !important;
	}
}

.btn-add {
	@media screen and (max-width: 1750px) {
		width: 100% !important;
	}
}
