<div class="fragment_11701">
	<div class="card">
		<div class="card-body">
			<div class="card-title">
				<div class="alert alert-success" role="alert">
					<span class="alert-indicator">
						<lfr-editable id="t1" type="text">This is a success message</lfr-editable>
					</span>
				</div>
			</div>

			<div class="card-text">
				<div class="list-group">
					<lfr-editable id="t2" type="text">
						<span>[@clay.icon symbol="check" /] List Item 1</span>
					</lfr-editable>

					<lfr-editable id="t3" type="text">
						<span>[@clay.icon symbol="check" /] List Item 2</span>
					</lfr-editable>

					<lfr-editable id="t4" type="text">
						<span>[@clay.icon symbol="check" /] List Item 3</span>
					</lfr-editable>

					<lfr-editable id="t5" type="text">
						<span>[@clay.icon symbol="check" /] List Item 1</span>
					</lfr-editable>

					<lfr-editable id="t6" type="text">
						<span>[@clay.icon symbol="check" /] List Item 2</span>
					</lfr-editable>

					<lfr-editable id="t7" type="text">
						<span>[@clay.icon symbol="check" /] List Item 3</span>
					</lfr-editable>
				</div>
			</div>
		</div>
	</div>
</div>