.radio-card {
	border-radius: 10px !important;

	.radio-card-label {
		background-color: #e6ebf5;
		border: none;
		border-radius: 4px;
		color: #2e5aac !important;
	}

	&.radio-disabled {
		background-color: #fff !important;
		border: solid #c9c9cf 2px !important;
		box-shadow: none !important;
		opacity: 0.5 !important;
		pointer-events: none;
	}

	&.radio-selected {
		background-color: #e6edfb !important;
		border: solid #6a8fea 2px !important;
		box-shadow: 0 6.25px 20px rgba(11, 95, 255, 0.1);
	}

	h5 {
		color: var(--neutral-08, #54555f);
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 380px;
	}
}
