[#assign
	layoutDisplayPageObjectProvider = request.getAttribute("LAYOUT_DISPLAY_PAGE_OBJECT_PROVIDER")!{}
	layoutDisplayPageProvider = request.getAttribute("LAYOUT_DISPLAY_PAGE_PROVIDER")!{}
]

[#if layoutDisplayPageProvider?has_content && layoutDisplayPageObjectProvider?has_content]
	<div class="f-blogs-breadcrumb flex font-size-paragraph-small">
		<a class="color-neutral-3" href="/home">
			${languageUtil.get(locale, "home")}
		</a>

		<div>&nbsp;/&nbsp;</div>

		<a class="color-neutral-3" href="${layoutDisplayPageProvider.getURLSeparator()}">
			${languageUtil.get(locale, "blog")}
		</a>

		<div>&nbsp;/&nbsp;</div>

		<span class="color-neutral-3">
			${layoutDisplayPageObjectProvider.getTitle(locale)}
		</a>
	</div>
[/#if]