/*Source Sans 3*/
@font-face {
	font-display: swap;
	font-family: 'Source Sans 3';
	font-style: normal;
	font-weight: 400;
	src: url([$DOCUMENT_URL:/site-initializer/documents/group/fonts/sourceSans3/SourceSans3-Regular.ttf$]);
}

.lfr-layout-structure-item-com-liferay-portal-search-web-category-facet-portlet-categoryfacetportlet,
.lfr-layout-structure-item-com-liferay-commerce-product-content-search-web-internal-portlet-cpspecificationoptionfacetsportlet {
	border-radius: 10px;
}
