.currency-selector {
	span {
		color: var(--neutral-10, #282934);
		font-size: 14px;
		font-weight: 600;
	}

	svg {
		color: #999aa3;
	}

	&-icon {
		flex-shrink: 0;
		height: 20px;
		width: 20px;
	}
}
