[#assign response = restClient.get("/c/evporganizations/")]

[#if response?has_content]
	[#assign organizations = response.items! /]
[#else]
	[#assign organizations = [] /]
[/#if]

<div class="token-sample">
	<label class="" for="0">
		Organization<span class="text-danger"> *</span>
	</label>

	<div class="wrapper">
		<div class="form-group select-item-btn">
			<input class="form-control item-selected" id="selected-org" placeholder="Select an Organization" required type="text" />

			<button class="svg-caret-double" type="button">
				<svg class="lexicon-icon lexicon-icon-caret-double" role="presentation" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
					<use xlink:href="/o/dialect-theme/images/clay/icons.svg#caret-double"></use>
				</svg>
			</button>
		</div>

		<div class="content-listed">
			<div class="search-organization">
			<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
					<path d="M10.5 18a7.5 7.5 0 1 1 5.304-2.196l4.05 4.05-1.5 1.5-4.05-4.05A7.453 7.453 0 0 1 10.5 18zm0-13.5a6 6 0 1 0 0 12 6 6 0 0 0 0-12z" />
					<path d="M0 0h24v24H0z" fill="none" />
			</svg>

			<input placeholder="Search for an Organization" type="text" />
			</div>

			<span class="your-organizations" id="your-organizations">
				Organizations you created:
			</span>

			<ul class="options-organizations your-organizations">
				[#list organizations as	organization]
					[#if organization.creator.id == user.userId ]
						<li class="" value="${organization.id}">${organization.id} - ${organization.organizationName} - ${organization.taxId}</li>
					[/#if]
				[/#list]
				</ul>
			<span class="all-organizations" id="all-organizations">
				All Organizations:
			</span>

			<ul class="all-organizations options-organizations">
				[#list organizations as	organization]
					<li class="" value="${organization.id}">${organization.id} - ${organization.organizationName} - ${organization.taxId}</li>
				[/#list]
			</ul>
		</div>
	</div>
</div>