.lfr__object-model-builder-control-container {
	height: 270px;
	position: relative;
	transition: all 0.5s ease;
	width: 230px;
}

.lfr__object-model-builder-controls {
	bottom: 170px !important;
	left: 20px !important;
}

.lfr-objects__model-builder-diagram {
	&-area {
		width: 100%;

		&-loading {
			> span {
				left: 50%;
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}

.react-flow__edges {
	z-index: 3 !important;
}

@mixin responsiveReactFlowControlPosition($maxHeight, $top) {
	@media (max-height: #{$maxHeight}) {
		.lfr__object-model-builder-control-container {
			&.sidebars-closed {
				top: #{$top};
			}

			&.sidebars-open {
				margin-left: 300px;
				top: #{$top};
			}
		}
	}
}

@include responsiveReactFlowControlPosition(2160px, 80%);
@include responsiveReactFlowControlPosition(1440px, 75%);
@include responsiveReactFlowControlPosition(1200px, 70%);
@include responsiveReactFlowControlPosition(1080px, 65%);
@include responsiveReactFlowControlPosition(900px, 60%);
@include responsiveReactFlowControlPosition(768px, 55%);
