<div class="fragment_1102">
	<div class="login-card">
		<div class="row">
			<div class="col">
				<div class="align-items-center row">
					<div class="col d-flex justify-content-center">
						[#if (configuration.person) == 'carl']
							<img src="[resources:carl.svg]" />
						[/#if]

						[#if (configuration.person) == 'sam']
							<img src="[resources:sam.svg]" />
						[/#if]

						[#if (configuration.person) == 'adam']
							<img src="[resources:brian.svg]" />
						[/#if]
					</div>

					<div class="col flex-grow-2">
						<h5>
							<lfr-editable id="txtTitle" type="text">
								[#if (configuration.person) == 'carl']
									Customer Carl
								[/#if]

								[#if (configuration.person) == 'sam']
									Support Sam
								[/#if]

								[#if (configuration.person) == 'adam']
									Admin Adam
								[/#if]
							</lfr-editable>
						</h5>

						<lfr-editable class="font-weight-light" id="txtSummary" type="text">
							[#if (configuration.person) == 'carl']
								Carl is a customer of Clarity. He can create tickets to explain what problems or questions he has
							[/#if]

							[#if (configuration.person) == 'sam']
								Sam works in Clarity's Support department as a Customer Support Representative.
							[/#if]

							[#if (configuration.person) == 'adam']
								Adam is the Admin User and has access to all the settings and customizations on the platform.
							[/#if]
						</lfr-editable>
					</div>
				</div>
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="align-items-center col d-flex flex-col justify-content-center">
				<table>
					<tbody>
						<tr>
							<td class="label">
								<p>Email</p>
							</td>
							<td class="value" onclick="copyToClipboard(this,'txtEmail-${configuration.person}')">
								<div class="d-flex justify-content-between">
									<div id="txtEmail-${configuration.person}">
										<lfr-editable id="email" type="text">
											[#if (configuration.person) == 'carl']
												m2h8.customer.carl@liferay.com
											[/#if]

											[#if (configuration.person) == 'sam']
												m2h8.support.sam@liferay.com
											[/#if]

											[#if (configuration.person) == 'adam']
												m2h8.admin.adam@liferay.com
											[/#if]
										</lfr-editable>
									</div>

									<img src="[resources:copy.svg]" />
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="spacer"></div>
							</td>
						</tr>
						<tr>
							<td class="label">
								<p>Password</p>
							</td>
							<td class="value">
								<div class="d-flex justify-content-between">
									<div id="txtPassword-${configuration.person}">
										<lfr-editable id="password" type="text">
											[Your chosen password]
										</lfr-editable>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script>
	function copyToClipboard(element, id) {
		let value = element.querySelector('#' + id).innerText;

		navigator.clipboard.writeText(value);
	}
</script>