.fragment_1102 .login-card {
	background: var(--neutral-00, #fff);
	border: 1px solid var(--neutral-02, #dcdfdf);
	border-radius: 10px;
	box-shadow: 0 10px 30px 0 rgba(4, 21, 21, 0.09);
	padding: 10px;
}

.fragment_1102 .login-card .col {
	padding-bottom: 5px;
	padding-top: 5px;
}

.fragment_1102 .login-card img {
	border-radius: 72px;
	height: 72px;
	width: 72px;
}

.fragment_1102 .border-right {
	border-right: 1px solid #dcdfdf;
}

.fragment_1102 .flex-grow-2 {
	flex-grow: 2;
}

.fragment_1102 td {
	border: 0;
	padding-right: 16px;
	vertical-align: baseline;
}

.fragment_1102 td.label {
	color: var(--neutral-08, #3a4747);
	font-size: 13px;
	font-style: normal;
	font-weight: 600;
	line-height: 20px;
}

.fragment_1102 td.value {
	background: var(--neutral-01, #f8f8f8);
	border-radius: 8px;
	color: var(--neutral-07, #556161);
	cursor: pointer;

	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	padding: 4px 16px;
}

.fragment_1102 td.value img {
	height: 25px;
	margin-left: 30px;
	width: 25px;
}

.fragment_1102 td.value:hover {
	transform: scale(1.05);
}

.fragment_1102 .spacer {
	padding: 4px;
}

.fragment_1102 p {
	margin: 0;
	padding: 0;
}

.fragment_1102 hr {
	margin: 0;
	margin-bottom: 15px;
	margin-top: 10px;
}

.fragment_1102 table {
	margin-bottom: 10px;
}
