[#assign mdfClaimId = (request.getAttribute("INFO_ITEM").objectEntryId)! /]

[#if mdfClaimId?has_content]
	[#assign mdfClaim = (restClient.get("/c/mdfclaims/${mdfClaimId}?nestedFields=user"))! /]

	[#assign userAccountId = (mdfClaim.creator.id!) /]

	[#assign userAccount = (restClient.get("/headless-admin-user/v1.0/user-accounts/${userAccountId}"))! /]

	[#if userAccount?has_content]
		[#assign telephones = (userAccount.userAccountContactInformation.telephones?map(telephone -> telephone.phoneNumber)?join(', '))! /]
	[/#if]

	[#assign partnerAccount = (mdfClaim.companyName)! /]
	[#assign firstName = (mdfClaim.r_usrToMDFClms_user.givenName)! /]
	[#assign lastName = (mdfClaim.r_usrToMDFClms_user.familyName)! /]
	[#assign infoEmail = (mdfClaim.r_usrToMDFClms_user.emailAddress)! /]

	<table class="table table-borderless w-100">
		<tbody class="ml-1">
			<tr>
				<td class="w-50">
					<p class="text-neutral-10" type="rich-text">Partner Account</p>
				</td>
				<td class="w-50">
					<p class="text-neutral-10" type="rich-text">${partnerAccount}</p>
				</td>
			</tr>
			<tr>
				<td class="w-50">
					<p class="text-neutral-10" type="rich-text">First Name</p>
				</td>
				<td class="w-50">
					<p class="text-neutral-10" type="rich-text">${firstName}</p>
				</td>
			</tr>
			<tr>
				<td class="w-50">
					<p class="text-neutral-10" type="rich-text">Last Name</p>
				</td>
				<td class="w-50">
					<p class="text-neutral-10" type="rich-text">${lastName}</p>
				</td>
			</tr>
			<tr>
				<td class="w-50">
					<p class="text-neutral-10" type="rich-text">Email</p>
				</td>
				<td>
					<p class="text-neutral-10" type="rich-text">${infoEmail}</p>
				</td>
			</tr>
			<tr>
				<td class="w-50">
					<p class="text-neutral-10" type="rich-text">Phone</p>
				</td>
				<td>
					<p class="text-neutral-10" type="rich-text">${telephones}</p>
				</td>
			</tr>
		</tbody>
	</table>
[#else]
	<div class="alert alert-info">
		<p>To use this fragment either place it on a Display Page Template to see which attributes are available from <em>request.getAttribute("INFO_ITEM")</em>.</p>
		<p class="mb-0">It's important to note that this will only display the attributes of a display page when you view the published display page not when you are editing it.</p>
	</div>
[/#if]