[#assign mdfClaimId = (request.getAttribute("INFO_ITEM").objectEntryId)! /]

[#if mdfClaimId?has_content]
	[#assign mdfClaim = (restClient.get("/c/mdfclaims/${mdfClaimId}"))! /]
	[#assign permissionAction = restClient.get("/c/permissionactions?filter=object%20eq%20%27MDF%20Claim%27&pageSize=-1") /]
	[#assign hasCancelAction = (permissionAction.items?filter(permissionAction -> permissionAction.action == "CANCEL")?has_content)! /]

	[#assign mdfClaimStatusKey = (mdfClaim.mdfClaimStatus.key)! /]

	[#if hasCancelAction && (mdfClaimStatusKey == 'approved' || mdfClaimStatusKey == 'draft')]
		<script>
			const updateCanceledMDFClaimStatus = async () => {
				const statusManagerMDFClaimResponse = await fetch(
					`/o/c/mdfclaims/${mdfClaimId}`,
					{
						body: `{"mdfClaimStatus": "canceled"}`,
						headers: {
							'content-type': 'application/json',
							'x-csrf-token': Liferay.authToken,
					 	},
						method: 'PATCH',
					}
				);

				if (statusManagerMDFClaimResponse.ok) {
					location.reload();

					return;
				}

				Liferay.Util.openToast({
					message: 'The MDF Claim Status cannot be changed.',
					type: 'danger',
				});
			};

			const callConfirmCancelMDFClaimModal = () => Liferay.Util.openConfirmModal({
				message: 'Do you want to cancel this Claim?',
				onConfirm: (isConfirmed) => {
					if (isConfirmed) {
						updateCanceledMDFClaimStatus();
					}
				},
			});
		</script>

		<button class="border-neutral-10 btn btn-secondary mr-2 mt-2" onclick="callConfirmCancelMDFClaimModal()">
			Cancel
		</button>
	[/#if]
[#else]
	<div class="alert alert-info">
		<p>To use this fragment either place it on a Display Page Template to see which attributes are available from <em>request.getAttribute("INFO_ITEM")</em>.</p>
		<p class="mb-0">It's important to note that this will only display the attributes of a display page when you view the published display page not when you are editing it.</p>
	</div>
[/#if]