@import 'atlas-variables';

.input-localized :not(.has-error) > .form-control {
	background-color: transparent;
	border-color: transparent;
	font-size: 1.125rem;
	font-weight: bold;

	&:hover {
		border-color: $gray-300;
	}

	&:focus {
		background-color: $primary-l3;
		border-color: $primary-l1;
	}

	&:read-only {
		background-color: transparent;

		&:focus {
			background-color: inherit;
			border-color: transparent;
			box-shadow: none;
		}

		&:hover {
			border-color: transparent;
		}
	}
}
