.new-app-tool-bar {
	&-container {
		align-items: center;
		display: flex;
		justify-content: center;
		width: 100%;
	}

	&-arrow-right {
		align-self: center;
		height: 1rem;
		width: 1rem;
	}

	&-main-account-logo {
		align-items: center;
		display: flex;
		gap: 1rem;
		justify-content: center;
		margin-right: 1.438rem;

		&-img {
			border-radius: 8px;
			height: 3rem;
			width: 3rem;
		}

		&-text {
			font-size: 1.125rem;
			font-weight: 600;
			line-height: 1.25rem;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 167px;
		}
	}

	&-new-app-logo {
		align-items: center;
		display: flex;
		gap: 1rem;
		justify-content: center;
		margin-left: 1.438rem;

		&-img {
			border-radius: 4px;
			max-height: 3rem;
			object-fit: contain;
			width: 3rem;
		}

		&-text {
			font-size: 1.125rem;
			font-weight: 600;
			line-height: 1.25rem;
			overflow: hidden;
			text-overflow: ellipsis;
			text-wrap: nowrap;
			width: 330px;
		}
	}

	&-status {
		&-container {
			align-items: center;
			display: flex;
			gap: 0.375rem;
			justify-content: center;
		}

		&-icon {
			filter: invert(54%) sepia(5%) saturate(427%) hue-rotate(201deg)
				brightness(94%) contrast(98%);
			height: 0.5rem;
			width: 0.5rem;
		}

		&-text {
			color: #6c6c75;
			font-weight: 600;
		}
	}

	&-button {
		&-container {
			display: flex;
			gap: 1rem;
		}

		&-dropdown {
			align-items: center;
			border-radius: 6px;
			display: flex;
			flex-direction: row;
			height: 32px;
			justify-content: center;
			margin-left: 16px;
			width: 32px;

			&-icon {
				height: 16px;
				width: 16px;
			}

			&:hover {
				background: #edf3fe;
			}
		}

		&-text {
			font-size: 0.875rem;
			font-weight: 600;
			line-height: 1rem;
		}

		&-exit {
			color: #2b3a4b;
			height: 32px;
			padding: 0;

			&:hover {
				background: #e2e2e4;
			}
		}

		&-save-draft {
			background: none;
			border: 0.125rem solid #2b3a4b;
			border-radius: 6px;
			color: #2b3a4b;
			font-size: 0.813rem;
			font-weight: 600;
			line-height: 1rem;

			&:hover {
				background: #2b3a4b;
				color: #ffff;
			}

			transition: color 0.3s;
			transition: background 0.3s;
		}

		&-preview-storefront {
			background: none;
			border: 0.125rem solid #0b5fff;
			border-radius: 6px;
			color: #0b5fff;
			font-size: 0.813rem;
			font-weight: 600;
			height: 32px;
			line-height: 1rem;

			&:hover {
				background: #0b5fff;
				color: #ffff;
			}

			transition: color 0.3s;
			transition: background 0.3s;
		}
	}
}
