@import 'atlas-variables';

.lfr-object__action-builder {
	&-notification-option {
		align-items: center;
		display: flex;
		justify-content: space-between;

		&-label {
			width: min-content;
		}
	}

	&-notification-then {
		width: 320px;
	}

	&-then {
		align-items: center;
		display: flex;
		gap: 1rem;
		justify-content: center;

		.form-control {
			width: 100%;
		}

		.custom-control.custom-checkbox {
			margin: 0;
		}
	}

	&-tooltip-icon {
		color: $secondary-l1;
	}
}
