.rich-text-input--hidden-label label {
	opacity: 0;
	pointer-events: none;
	position: absolute;
}

.rich-text-input .form-control[aria-readonly='true'] {
	background-color: #fff;
	border-color: #e7e7ed;
	cursor: text;
	opacity: 1;
}

.rich-text-input .form-control[aria-readonly='true']:focus,
.rich-text-input .form-control[aria-readonly='true']:focus-visible {
	border-color: #80acff;
	box-shadow: none;
}
