.f-tabs .nav-link {
  font-weight: 600; }
  @media (max-width: 599px) {
    .f-tabs .nav-link {
      font-size: 1.813rem;
      line-height: 1.103; } }
  @media (min-width: 600px) {
    .f-tabs .nav-link {
      font-size: 2.188rem;
      line-height: 1.029; } }
  @media (min-width: 900px) {
    .f-tabs .nav-link {
      font-size: 2.438rem;
      line-height: 1.026; } }
  @media (min-width: 1200px) {
    .f-tabs .nav-link {
      font-size: 2.75rem;
      line-height: 1.091; } }

.f-tabs.small-tabs .nav-link {
  font-size: 1rem;
  line-height: 1.5; }

.f-tabs .navbar-nav {
  justify-content: space-around; }

.f-tabs .nav-link {
  color: var(--action-default);
  margin: 0.5rem 0;
  opacity: 0.7;
  padding: 0.5rem 0; }
  .f-tabs .nav-link:hover, .f-tabs .nav-link.active {
    border-bottom: 2px solid var(--action-default);
    cursor: pointer;
    opacity: 1; }

.f-tabs.small-tabs .navbar-nav,
.f-tabs.small-tabs .navbar {
  border-width: 0;
  justify-content: flex-start; }

.f-tabs.small-tabs .nav-item:not(:hover):not(.active) {
  border-bottom: 1px solid var(--neutral-7); }

.f-tabs.small-tabs .nav-link {
  color: var(--neutral-3);
  margin: 0;
  opacity: 1; }
  .f-tabs.small-tabs .nav-link:hover, .f-tabs.small-tabs .nav-link.active {
    padding-top: 0.5rem; }

.resources-active .f-tabs,
.resources-active .tab-0-content,
.resources-active .tab-1-content,
.resources-active .tab-2-content,
.resources-active .tab-3-content {
  display: none; }