<div class="f-tabs ${configuration.fontSize}">
<nav class="navbar navbar-underline navigation-bar" style="background-color: ${configuration.tabHeadingColor};">
<div class="max-width-full mx-10 px-2 w-100" id="navigationBar-${fragmentEntryLinkNamespace}">
<ul class="flex-wrap navbar-nav" role="tablist">
		[#list 0..configuration.numberOfTabs-1 as i]
<li class="nav-item" role="presentation">
<div aria-controls="tabPanel${i+1}-${fragmentEntryLinkNamespace}" aria-selected="false" class="nav-link" data-fragment-namespace="${fragmentEntryLinkNamespace}" id="tab${i+1}-${fragmentEntryLinkNamespace}" rolZe="tab">
			<span class="navbar-text-truncate" data-lfr-editable-id="title${i+1}" data-lfr-editable-type="text" data-lfr-priority="${i+1}" style="color: ${configuration.tabTextColor}; tabindex="-1">
			  Tab ${i+1}
			</span>
		  </div>
		</li>
		[/#list]
	  </ul>
	</div>
</nav>

<div class="tab-panel">
	[#list 0..configuration.numberOfTabs-1 as i]
<div aria-labelledby="tab${i+1}-${fragmentEntryLinkNamespace}" class="d-none tab-panel-item" data-fragment-namespace="${fragmentEntryLinkNamespace}" id="tabPanel${i+1}-${fragmentEntryLinkNamespace}" role="tabpanel" tabindex="0">
<lfr-drop-zone data-lfr-drop-zone-id="${i+1}" data-lfr-priority="${i+1}"></lfr-drop-zone>
	</div>
	[/#list]
</div>
</div>

<style>
.f-tabs.small-tabs .nav-link:hover, .f-tabs.small-tabs .nav-link.active {
	border-bottom: 3px solid ${configuration.borderUnderlineColor};
}
</style>