@import 'components/input';

*,
*:after,
*:before {
	box-sizing: border-box;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

body {
	font-size: 100%;
	list-style-type: none;
	max-height: 100vh !important;
	overflow: auto;
}

html {
	height: 100vh;
	overflow: hidden;
}

.autofill-builds-popover {
	.build-buttons {
		background-color: #373ecc !important;
		cursor: default;
	}
}

.case-results-attachments-box {
	max-width: fit-content;
}

.clay-reorder-footer {
	display: none;
}

.compare-runs-popover {
	top: 210px !important;
	z-index: 98;

	.runs-buttons {
		background-color: #373ecc !important;
		cursor: default;
	}
}

.cursor-pointer {
	cursor: pointer;
}

.dropdown-header {
	.form-control {
		margin: 0;
	}
}

.dropdown-management-toolbar {
	&.dropdown-menu {
		max-height: 800px !important;
		max-width: 900px !important;
		overflow-y: hidden !important;
		width: 300px !important;
	}

	&.dropdown-management-toolbar-small {
		.dropdown-filter-content {
			max-height: 190px !important;
			min-height: 50px !important;
			overflow-y: hidden !important;
		}
	}

	.dropdown-header {
		background-color: #fff;
		position: sticky;
		top: 0;

		.form-control {
			margin: 0;
		}
	}

	.dropdown-footer {
		background-color: #fff;
		bottom: 0;
		padding: 3px 16px 16px;
		position: sticky !important;
	}

	.dropdown-filter-content {
		max-height: 390px !important;
		min-height: 180px !important;
		overflow-y: auto;
		padding: 0 16px;

		.form-group {
			margin-bottom: 1.5rem !important;
		}
	}

	.dropdown-columns-content {
		max-height: 250px !important;
		min-height: 180px !important;
		overflow-y: auto;
		padding: 0 16px;

		.form-group {
			margin-bottom: 1.5rem !important;
		}
	}
}

.dropdown-menu {
	z-index: 9999;
}

.dropdown-scrollbar {
	max-height: 100px;
	overflow-y: scroll;
}

.dropdown-section .custom-control-label {
	color: unset;
}

.management-bar {
	div:nth-child(1) {
		max-width: none;
	}

	.navbar-nav {
		flex-wrap: initial;
	}
}

.management-toolbar-buttons {
	height: fit-content !important;
	width: fit-content !important;
}

.management-toolbar-filter-dropdown {
	max-height: 800px;
	overflow-y: hidden;
	width: 300px;

	label {
		font-size: 14px;
		font-weight: normal !important;
	}

	.form-control {
		margin-bottom: 15px;
	}
}

.popover {
	max-width: 900px !important;
	width: 480px !important;
	z-index: 9;
}

.popover-body {
	max-height: 580px;
	min-height: 100px;
	overflow-y: auto;
}

.popover-footer {
	background-color: #fff;
	bottom: 0;
	padding: 3px 16px 16px;
	position: relative;
}

.popover .inline-scroller {
	max-height: unset !important;
}

.popover-management-toolbar {
	&.body-columns {
		.popover-body {
			max-height: 300px !important;
			min-height: 50px !important;
			overflow-y: auto !important;
			padding: 0;
		}

		.popover-columns-content {
			max-height: 350px;
			min-height: 180px;
			padding: 0 16px;
		}
	}

	&.popover {
		width: 300px !important;
		z-index: 999;
	}

	&.popover-management-toolbar-small {
		.popover-body {
			max-height: 190px !important;
			min-height: 50px !important;
			overflow-y: hidden !important;
			padding: 0;
		}
	}

	.dropdown-header {
		background-color: #fff;
		position: sticky;
		top: 0;

		.form-control {
			margin: 0;
		}
	}

	.inline-scroller {
		overflow-x: hidden;
	}

	.management-toolbar-body {
		max-height: 390px !important;
		min-height: 180px !important;
		overflow-y: none;
	}

	.popover-body {
		max-height: 590px !important;
		min-height: 350px !important;
		overflow-y: hidden !important;
		padding: 0;
	}

	.popover-filter-content {
		max-height: 350px;
		min-height: 180px;
		overflow-y: auto;
		padding: 0 16px;
	}

	.popover-footer {
		background-color: #fff;
		padding: 5px 16px 16px;
		position: sticky;
		top: 0;
	}
}

.portlet {
	margin-bottom: 0;
}

.subnav-tbar {
	background-color: #fff !important;

	div:nth-child(1) {
		max-width: none;
	}
}

.subnav-tbar-primary {
	background-color: #fff;

	.result-filter {
		background-color: #0e1387;
		border-color: #0e1387;
		color: #fff;
	}
}

.testray-multi-select__clear-indicator {
	display: none !important;
}
