@import 'cadmin-variables';

html#{$cadmin-selector} .cadmin .dropdown-menu.fds-entries-dropdown-menu {
	max-height: 500px;
	max-width: 550px;
	width: 100%;
}

html#{$cadmin-selector} .cadmin .input-localized .form-group {
	margin-bottom: 0;
}
