@import 'cadmin-variables';

html#{$cadmin-selector} .cadmin .list-visualization-mode {
	.field-name {
		border-left: none;
		width: auto;
	}

	.list-section-label {
		min-width: 20ch;
		width: 30%;
	}
}
