[#assign
	layoutSet = themeDisplay.getLayoutSet()
	layoutSetDisplayURL = portal.getLayoutSetDisplayURL(layoutSet, true)
	layoutSetCanonicalURL = portal.getCanonicalURL(layoutSetDisplayURL, themeDisplay, layout)
	navClass = "light-nav"
/]

[#if configuration.darkNav]
	[#assign navClass = "dark-nav" /]
[/#if]

<div class="public-sites-navigation-padding"></div>
<nav class="${navClass} d-flex nav flex-column public-sites-navigation">
	<div class="utility-nav-container">
		<div class="align-items-center d-flex justify-content-between py-1 utility-nav w-100">
			<div class="d-flex sites-languages-container">
				<div class="d-flex sites-container">
					<div class="d-flex p-2 sites" tabindex="6">
						<span class="align-self-center pr-1 opacity-50 sites-icon">[@clay["icon"] symbol="sites"/]</span>

						<div class="d-flex font-weight-semi-bold liferay-sites position-relative">
							<div class="liferay-sites-text opacity-80">
								${languageUtil.get(locale, "liferay-sites", "Liferay Sites")}
							</div>

							<span class="caret-bottom-icon opacity-30">[@clay["icon"] symbol="caret-bottom-l"/]</span>
						</div>
					</div>

					<div class="liferay-sites-dropdown">
						<lfr-drop-zone>

						</lfr-drop-zone>
					</div>
				</div>
				[#if configuration.showLanguageMenu]
					<div class="language-selector-container ml-2">
						<div class="language language-selector pl-2 py-2 utility-nav-link" tabindex="7">
							<div class="language-selector-globe-icon opacity-50">[@clay["icon"] symbol="globe-lines"/]</div>
							<div class="language-selector-text opacity-80">
								[#assign current_locale = locale ]

								[#if current_locale?has_content]
									[#assign current_locale = current_locale[0..1] + " (" + current_locale[3..4] + ")" ]
								[/#if]

								${current_locale?upper_case}
							</div>

							<div class="language-caret-icon opacity-30">[@clay["icon"] symbol="caret-bottom-l"/]</div>
						</div>

						<div class="language-dropdown-list-container">
							<div class="language-dropdown-list">
								<div class="class-toggle language-dropdown" data-target-class="language-selection-menu-active" data-target-nodes=".osb-nav-secondary">
									[@liferay_ui["language"]
										ddmTemplateGroupId=(scopeGroupId)
										ddmTemplateKey="NAVIGATION_LANGUAGE_MENU"
										displayCurrentLocale=true
										languageIds=localeUtil.toLanguageIds(languageUtil.getAvailableLocales(themeDisplay.getSiteGroupId()))
										useNamespace=false
									/]
								</div>
							</div>
						</div>
					</div>
				[/#if]
			</div>

			<a class="align-center flex skip-to-footer-wrapper" href="#footer" tabindex="1">
				<div class="align-center flex skip-to-footer-text">
					${languageUtil.get(locale, 'skip-to-footer', 'Skip To Footer')}
				</div>
			</a>

			<a class="align-center flex skip-to-content-wrapper" href="#main-content" tabindex="2">
				<div class="align-center flex skip-to-content-text">
					${languageUtil.get(locale, 'skip-to-content', 'Skip to Content')}
				</div>
			</a>

			<div class="align-items-center d-flex search-account-container">
				<div class="mr-2 search-icon-container">
					<span class="search-icon mr-2 opacity-50" tabindex="8"> [@clay["icon"] symbol="search"/] </span>
				</div>
				[#if configuration.showAccountMenu]
					<div class="account position-relative" tabindex="9">
						<div class="account-info align-items-center d-flex ${themeDisplay.isSignedIn()?then('py-1 pl-2', '')}">
							[#if themeDisplay.isSignedIn()]
								<div class="user-avatar">
									<img class="h-100 mx-100" src="${user.fetchPortraitURL(themeDisplay)}" />
								</div>
							[#else]
								<div class="py-2 signed-out-account">
									<span class="user-icon opacity-50 pl-2">[@clay["icon"] symbol="user"/]</span>
									<span class="account-text font-weight-semi-bold opacity-80 user-out">
										${languageUtil.get(locale, "account", "Account")}
									</span>
								</div>
							[/#if]
							<span class="account-dropdown-icon opacity-30 pr-2">[@clay["icon"] symbol="caret-bottom-l"/]</span>
						</div>

						<div class="account-dropdown position-absolute pt-3">
							<div class="dropdown-wrapper">
								<div class="account-configurables mb-1 pb-2 pl-3">
									[@liferay_site_navigation["navigation-menu"]
										ddmTemplateGroupId=(scopeGroupId)
										ddmTemplateKey="NAVIGATION_ACCOUNT_MENU"
										displayDepth=0
										expandedLevels="auto"
										preview=false
										rootItemLevel=0
										rootLayoutType="absolute"
										siteNavigationMenuId=(configuration.accountMenuId)!0
									/]
								</div>

								<div class="account-content p-2">
									<div class="create-account-settings">
										[#if themeDisplay.isSignedIn()]
											<div class="signed-in-account">
												<a class="d-flex p-3 settings text-decoration-none">
													<span class="pr-2">[@clay["icon"] symbol="cog"/]</span>
													<span class="account-settings">
														${languageUtil.get(locale, "account-settings", "Account Settings")}
													</span>
												</a>

												<a class="d-flex p-3 sign-out text-decoration-none" href="${htmlUtil.escape(themeDisplay.getURLSignOut())}">
													<span class="pr-2 sign-out-icon opacity-70">[@clay["icon"] symbol="logout"/]</span>
													<span>
														${languageUtil.get(locale, "sign-out")}
													</span>
												</a>
											</div>
										[#else]
											<div class="signed-out-account">
												<div class="d-flex p-3 settings">
													<span class="pr-2">[@clay["icon"] symbol="user-plus"/]</span>
													<span>${languageUtil.get(locale, "create-an-account", "Create An
														Account")}</span>
												</div>

												<a class="d-flex p-3 sign-in text-decoration-none" href="${htmlUtil.escape(themeDisplay.getURLSignIn())}">
													<span class="pr-2 sign-in-icon opacity-70">[@clay["icon"] symbol="user"/]</span>
													<span>${languageUtil.get(locale, "sign-in")}</span>
												</a>
											</div>
										[/#if]
									</div>
								</div>
							</div>
						</div>
					</div>
				[/#if]
			</div>
		</div>
	</div>

	<header class="align-self-center d-flex justify-content-between primary-nav w-100">
		<lfr-drop-zone>

		</lfr-drop-zone>

		<lfr-drop-zone>

		</lfr-drop-zone>
	</header>

	<div class="search-wrapper">
		<form class="mb-5 search" id="siteSearch" name="siteSearch">
			<input class="search-input search-suggestions-input w-100" id="searchInput" placeholder="${languageUtil.get(locale, 'search')}" type="text" />

			<a class="search-submit" href="/search" id="searchSubmitBtn" type="submit">
				<span>[@clay["icon"] symbol="search"/]
			</a>
		</form>

		<div class="suggestions w-100">
		<span class="loading-animation-lg loading-animation-primary loading-animation-squares search-loading-animation"></span>
			<div class="mb-4 suggestions-popular">
				<div class="mb-3 suggestions-popular-text">
					${languageUtil.get(locale, "popular", "Popular")}
				</div>

				<div class="d-flex justify-content-between suggestions-popular-items">
					<div class="d-flex suggestions-popular-item">
						<a class="suggestions-popular-item-text text-decoration-none" data-lfr-editable-id="suggestionsPopularItem1" data-lfr-editable-type="link">
							Popular
						</a>
					</div>

					<div class="d-flex suggestions-popular-item">
						<a class="suggestions-popular-item-text text-decoration-none" data-lfr-editable-id="suggestionsPopularItem2" data-lfr-editable-type="link">
							Gartner MQ
						</a>
					</div>

					<div class="d-flex suggestions-popular-item">
						<a class="suggestions-popular-item-text text-decoration-none" data-lfr-editable-id="suggestionsPopularItem3" data-lfr-editable-type="link">
							DXP Features
						</a>
					</div>

					<div class="d-flex suggestions-popular-item">
						<a class="suggestions-popular-item-text text-decoration-none" data-lfr-editable-id="suggestionsPopularItem4" data-lfr-editable-type="link">
							Commerce
						</a>
					</div>
				</div>
			</div>

			<div class="mb-4 suggested-text">
				${languageUtil.get(locale, "suggested", "Suggested")}
			</div>

			<div class="search-suggestions">
				<template>
					<a class="search-suggestion-item" href="">
						<div class="search-suggestion-item-title">
						</div>

						<div class="search-suggestion-item-content">
							${languageUtil.get(locale, "no-preview-available", "No Preview Available")}
						</div>

						<div class="search-suggestion-item-link">
						</div>
					</a>
				</template>
			</div>

			<div class="no-results-message">
				${languageUtil.get(locale, "there-are-no-results", "There are no results.")}
			</div>

			<div class="search-error-message">
				${languageUtil.get(locale, "an-unexpected-error-occurred", "An unexpected error occured.")}
			</div>

			<div class="mt-3 search-suggestions-see-all-results">
				<a class="d-inline-block search-suggestions-see-all-results-text text-decoration-none" data-lfr-editable-id="searchSeeAllResultsButton" data-lfr-editable-type="link" href="/search">
					${languageUtil.get(locale, "see-all-results", "See All Results")}
				</a>

				<span class="pl-1 d-inline-block search-suggestions-see-all-results-arrow">[@clay["icon"] symbol="order-arrow-right"/]</span>
			</div>
		</div>

		<a class="close-search w-inline-block" id="closeSearch">
			[@clay["icon"] symbol="times"/]
		</a>
	</div>
</nav>